<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--发送邮件时间间隔（秒)-->
    <add key="MailTask.Interval" value="10"/>
    <add key="MailHost" value="smtp.exmail.qq.com"/>
    <add key="Mail_AddressFrom" value="dms@gmedtech.com"/>
    <add key="Mail_AddressPWD" value="Genesis12345"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Database=GenesisDMS_Test;Server=47.102.205.10;Integrated Security=false;user id=sa;password=Gm123456;connection timeout=120;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"
providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>


