BODY {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
TH {
	FONT-SIZE: 12px
}
BODY {
	SCROLLBAR-ARROW-COLOR: #ffffff; TEXT-ALIGN: left; SCROLLBAR-FACE-COLOR: #edebed; MARGIN: 0px; SCROLLBAR-DARKSHADOW-COLOR: #d8d8d8; FONT-FAMILY: ????; SCROLLBAR-HIGHLIGHT-COLOR: #d8d8d8; SCROLLBAR-SHADOW-COLOR: #dedbde; FONT-SIZE: 12px; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #f3f3f3
}
.STYLE3 {
	COLOR: #cc0000
}
.style4 {
	COLOR: #990000
}
.small {
	FONT-FAMILY: "????"; COLOR: #000000; FONT-SIZE: 12px
}
.small2 {
	LINE-HEIGHT: 20px; FONT-FAMILY: "????"; COLOR: #000000; FONT-SIZE: 12px
}
.smalleh {
	FONT-FAMILY: "verdana"; COLOR: #000000; FONT-SIZE: 12px
}
.smalleh2 {
	FONT-FAMILY: "verdana"; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.smallblack {
	FONT-FAMILY: "??????", "????"; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.smallgray {
	FONT-FAMILY: "????"; COLOR: #77787b; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.smallwhite {
	FONT-FAMILY: "????"; COLOR: #ffffff; FONT-SIZE: 12px
}
.smallwhite2 {
	FONT-FAMILY: "????"; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.smallred {
	FONT-FAMILY: "????"; COLOR: #cc0000; FONT-SIZE: 12px
}
.smallblue {
	FONT-FAMILY: "????"; COLOR: #0860a8; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.smallblue2 {
	FONT-FAMILY: "????"; COLOR: #2f86d2; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.smallblue4 {
	FONT-FAMILY: "????"; COLOR: #0c5ca1; FONT-SIZE: 12px
}
.mediumblue {
	FONT-FAMILY: "????"; COLOR: #2f86d2; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.bigblue {
	FONT-FAMILY: "????"; COLOR: #0c5ca1; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.input {
	BORDER-BOTTOM: #7f9db9 1px solid; TEXT-ALIGN: right; BORDER-LEFT: #7f9db9 1px solid; BACKGROUND-COLOR: transparent; WIDTH: 80px; HEIGHT: 16px; FONT-SIZE: 12px; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid
}
A.white_link {
	FONT-FAMILY: ????; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.white_link:hover {
	FONT-FAMILY: ????; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.orange_link {
	FONT-FAMILY: ????; COLOR: #ff6600; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.orange_link:hover {
	FONT-FAMILY: ????; COLOR: #ff6600; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.orange_link2 {
	FONT-FAMILY: ????; COLOR: #ff9900; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.orange_link2:hover {
	FONT-FAMILY: ????; COLOR: #ff9900; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.black_link {
	FONT-FAMILY: ????; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.black_link:hover {
	FONT-FAMILY: ????; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.blue_link {
	COLOR: #016db5; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.blue_link:link {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.blue_link:hover {
	COLOR: #f47001; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.red_link {
	COLOR: #ed1c24; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red_link:link {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.red_link:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.red_link:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.blue_link2 {
	COLOR: #0063cd; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.blue_link2:link {
	FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.blue_link2:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.blue_link2:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.blue_link3 {
	FONT-FAMILY: ????; COLOR: #016db5; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.blue_link3:hover {
	FONT-FAMILY: ????; COLOR: #016db5; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.tdborder01 {
	BORDER-BOTTOM: #75a6d1 1px solid; BORDER-LEFT: #c2c2c2 0px dotted; BORDER-TOP: #c2c2c2 0px dotted; BORDER-RIGHT: #3876c1 0px solid
}
.tdborder02 {
	BORDER-BOTTOM: #dad9de 1px solid; BORDER-LEFT: #c2c2c2 0px dotted; BORDER-TOP: #c2c2c2 0px dotted; BORDER-RIGHT: #3876c1 0px solid
}
.tdborder03 {
	BORDER-BOTTOM: #c3c9d5 1px solid; BORDER-LEFT: #c3c9d5 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #c3c9d5 1px solid; BORDER-RIGHT: #c3c9d5 1px solid; PADDING-TOP: 5px
}
.tdborder04 {
	BORDER-BOTTOM: #8a909f 1px solid; BORDER-LEFT: #8a909f 1px solid; BORDER-TOP: #8a909f 1px solid; BORDER-RIGHT: #8a909f 1px solid
}
.tdborder05 {
	BORDER-BOTTOM: #8a909f 1px solid; BORDER-LEFT: #8a909f 0px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #8a909f 0px solid; BORDER-RIGHT: #8a909f 0px solid; PADDING-TOP: 5px
}
.tdborder06 {
	BORDER-BOTTOM: #8a909f 1px solid; BORDER-LEFT: #8a909f 1px solid; BORDER-TOP: #8a909f 0px solid; BORDER-RIGHT: #8a909f 1px solid
}
.tdborder07 {
	BORDER-BOTTOM: #8a909f 1px dotted; BORDER-LEFT: #8a909f 0px solid; BORDER-TOP: #8a909f 0px solid; BORDER-RIGHT: #8a909f 0px solid
}
.tdborder08 {
	BORDER-BOTTOM: #8a909f 1px solid; BORDER-LEFT: #8a909f 0px solid; BORDER-TOP: #8a909f 0px solid; BORDER-RIGHT: #8a909f 0px solid
}
.tdborder09 {
	BORDER-BOTTOM: #8a909f 1px solid; BORDER-LEFT: #8a909f 1px solid; BORDER-TOP: #8a909f 1px solid; BORDER-RIGHT: #8a909f 1px solid
}
.tdborder10 {
	BORDER-BOTTOM: #3488dc 1px solid; BORDER-LEFT: #3488dc 1px solid; BORDER-TOP: #3488dc 1px solid; BORDER-RIGHT: #3488dc 1px solid
}
.tdborder11 {
	BORDER-BOTTOM: #006da8 1px dotted; BORDER-LEFT: #3488dc 0px solid; BORDER-TOP: #3488dc 0px solid; BORDER-RIGHT: #3488dc 0px solid
}
.tdborder12 {
	BORDER-BOTTOM: #006da8 0px dotted; BORDER-LEFT: #3488dc 0px solid; BORDER-TOP: #3488dc 0px solid; BORDER-RIGHT: #cdcdcd 1px solid
}
.tdborder13 {
	BORDER-BOTTOM: #8a909f 1px dotted; BORDER-LEFT: #8a909f 0px solid; BORDER-TOP: #8a909f 1px dotted; BORDER-RIGHT: #8a909f 0px solid
}
.tdborder14 {
	BORDER-BOTTOM: #2f86d2 1px dotted; BORDER-LEFT: #8a909f 0px solid; BORDER-TOP: #8a909f 0px dotted; BORDER-RIGHT: #8a909f 0px solid
}
.tableborder01 {
	BORDER-BOTTOM: #b8bbc5 1px solid; BORDER-LEFT: #b8bbc5 1px solid; BORDER-TOP: #b8bbc5 1px solid; BORDER-RIGHT: #b8bbc5 1px solid
}
.tableborder02 {
	BORDER-BOTTOM: #b8bbc5 1px solid; BORDER-LEFT: #b8bbc5 0px solid; BORDER-TOP: #b8bbc5 1px solid; BORDER-RIGHT: #b8bbc5 1px solid
}
.tableborder03 {
	BORDER-BOTTOM: #b8bbc5 1px solid; BORDER-LEFT: #b8bbc5 1px solid; BORDER-TOP: #b8bbc5 0px solid; BORDER-RIGHT: #b8bbc5 1px solid
}
.tableborder04 {
	BORDER-BOTTOM: #b8bbc5 1px solid; BORDER-LEFT: #b8bbc5 0px solid; BORDER-TOP: #b8bbc5 0px solid; BORDER-RIGHT: #b8bbc5 1px solid
}
.tableHeader {
	BACKGROUND-IMAGE: url(../images/tabletitle.gif); TEXT-ALIGN: center; FONT-FAMILY: ????; HEIGHT: 22px; FONT-SIZE: 12px; text-valign: middle
}
.tableHeader2 {
	BACKGROUND-IMAGE: url(../images/tabletitle2.gif); TEXT-ALIGN: center; FONT-FAMILY: ????; HEIGHT: 22px; FONT-SIZE: 12px; text-valign: middle
}
.tableHeader3 {
	BACKGROUND-IMAGE: url(../images/tabletitle3.gif); TEXT-ALIGN: center; FONT-FAMILY: ????; HEIGHT: 22px; FONT-SIZE: 12px; text-valign: middle
}
.tableHeader4 {
	BACKGROUND-IMAGE: url(../images/tabletitle3.gif); TEXT-ALIGN: left; FONT-FAMILY: ????; HEIGHT: 22px; FONT-SIZE: 12px; text-valign: middle
}
.button_nor {
	BACKGROUND-IMAGE: url(anniu.gif); BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 84px; PADDING-RIGHT: 0px; FONT-FAMILY: "??????", "????"; HEIGHT: 23px; COLOR: #ffffff; BORDER-TOP: 0px; CURSOR: hand; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.button_nor2 {
	BACKGROUND-IMAGE: url(../images/buttonbg2.gif); BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 99px; PADDING-RIGHT: 0px; HEIGHT: 23px; COLOR: #000000; BORDER-TOP: 0px; CURSOR: hand; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.button_nor3 {
	BACKGROUND-IMAGE: url(../images/buttonbg3.gif); BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; HEIGHT: 23px; COLOR: #000000; BORDER-TOP: 0px; CURSOR: hand; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.textarea {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; WIDTH: 98%; HEIGHT: 30px; FONT-SIZE: 12px; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.bodyareaframe {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.bodyareaframe2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.bodyareaframe3 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.bodyareaframe4 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.bodyareaframe5 {
	BORDER-BOTTOM: #8a909f 1px dotted; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.EditText {
	BORDER-BOTTOM: #7f9db9 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #7f9db9 1px solid; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: inline; FONT-SIZE: 9pt; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid; BEHAVIOR: url(../htc/EditText.htc)
}
.EditNumber {
	BORDER-BOTTOM: #7f9db9 1px solid; TEXT-ALIGN: right; BORDER-LEFT: #7f9db9 1px solid; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: inline; FONT-SIZE: 9pt; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid; BEHAVIOR: url(../htc/EditNumber.htc)
}
.EditInteger {
	BORDER-BOTTOM: #7f9db9 1px solid; TEXT-ALIGN: right; BORDER-LEFT: #7f9db9 1px solid; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: inline; FONT-SIZE: 9pt; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid; BEHAVIOR: url(../htc/EditInteger.htc)
}
.EditDate {
	BORDER-BOTTOM: #7f9db9 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #7f9db9 1px solid; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: inline; FONT-SIZE: 9pt; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid; BEHAVIOR: url(../htc/EditDate.htc)
}
