<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DMS.TaskLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DMS.TaskLib.Properties.Settings>
            <setting name="DMS_TaskLib_SMSService_Sender" serializeAs="String">
                <value>http://112.65.249.158/SMS/Sender.asmx</value>
            </setting>
            <setting name="DMS_TaskLib_WeChatService_zzcsc" serializeAs="String">
                <value>https://bscdealer.cn/services/zzcsc.asmx</value>
            </setting>
        </DMS.TaskLib.Properties.Settings>
    </applicationSettings>
</configuration>