<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--单次上传数量限制-->
    <add key="UploadCount" value="100" />
    <!--蓝威在波科DMS系统中的默认仓库编号-->
    <add key="WHMCode" value="WH024477" />
    <!--调用波科接口的用户名-->
    <add key="User" value="LW_627446" />
    <!--调用波科接口的密码-->
    <add key="Password" value="cJLmAVF8" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Database=GenesisDMS;Server=47.103.53.0;Integrated Security=false;user id=dms;password=Gm123456;connection timeout=120;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PlatformSoap" closeTimeout ="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
                    <security mode="Transport" />
                </binding>
                <binding name="PlatformSoap1" closeTimeout ="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://bscdealer.cn/services/platform.asmx"
                binding="basicHttpBinding" bindingConfiguration="PlatformSoap"
                contract="BSCPlatformService.PlatformSoap" name="PlatformSoap"/>
        </client>
    </system.serviceModel>
 <system.diagnostics>
    <trace autoflush="true" indentsize="4" useGlobalLock="false">
      <listeners>
        <remove name="Default" />
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs\trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>