<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<providers embedded ="DMS.DataAccess.Resources.maps.providers.config" />-->

  <providers resource="config\providers.config" />

  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="Access" connectionString="server=(local);database=Demo;uid=sa;pwd="/>
  </database>

  <sqlMaps>
    <!--MasterData-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.HospitalPositionInit.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.Hospital.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.DealerMaster.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.Territory.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.PartsClassification.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.Cfn.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.Warehouse.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.Product.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.DealerContract.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.DealerAuthorizationTable.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.PositionHospital.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.HospitalList.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.AutoNumber.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.RegistrationMain.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.RegistrationDetail.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.CfnSet.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.CfnSetDetail.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.AutoNumberForPO.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.DealerOperationLog.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.COP.xml,DMS.DataAccess" />

    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.Payment.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.CfnHospitalPrice.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.DealerRelation.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.RegistrationInit.xml,DMS.DataAccess" />

    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.ProductLevelRelationship.xml,DMS.DataAccess" />
    <!--added by bozhenfei on 20100610 @发货数据上传-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.DeliveryInit.xml,DMS.DataAccess" />
    <!--end-->
    <!--added by bozhenfei on 20110210 @经销商区域设定-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.DealerTerritory.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.TerritoryHierarchy.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.TerritoryMaster.xml,DMS.DataAccess" />
    <!--end-->
    <!--added by bozhenfei on 20110210 @发票寄送数据上传-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.SendInvoiceInit.xml,DMS.DataAccess" />
    <!--end-->

    <!--added by bozhenfei on 20130716 @客户端信息-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.Client.xml,DMS.DataAccess" />
    <!--end-->

    <!--added by songweiming on 20130726 @VirtualDC、特殊价格-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.Virtualdc.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.SpecialPriceDetail.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.SpecialPriceMaster.xml,DMS.DataAccess" />
    <!--end-->

    <!--added by songweiming on 20130814 @订单发票 -->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.TIIfInvoice.xml,DMS.DataAccess" />

    <!--added by songweiming on 20131011 -->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.SapWarehouseAddress.xml,DMS.DataAccess" />

    <!--added by SongWeiming on 20150915 For GSP Project -->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.DealerMasterLicense.xml,DMS.DataAccess" />
    <!--end-->
    <!--added by huyong on 20151225  -->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.QrCodeMaster.xml,DMS.DataAccess" />
    <!--end-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.ProductLine.xml,DMS.DataAccess" />
    <!--Inventory-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.Inventory.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.InventoryTransaction.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.InventoryTransactionLot.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.Lot.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.LotMaster.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.CurrentInv.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.InventoryAdjustHeader.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.InventoryAdjustDetail.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.InventoryAdjustLot.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.QueryInventory.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.InventoryInit.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.InventorySafety.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.StocktakingHeader.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.StocktakingLine.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.StocktakingLot.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.InventoryAdjustConsignment.xml,DMS.DataAccess" />
    <!--added by hxw on 20130725-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.InventorySafetyInit.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.AdjustInterface.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.DealerInventoryData.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.DealerInventoryInit.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.ReportInventoryHistory.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.InventoryReturnInit.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.DealerComplain.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.InventoryReturnConsignmentInit.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.ComplainInterface.xml,DMS.DataAccess" />
    <!--Add by Hu yong on 2015-10-19-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.InventoryAdjustInit.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.InventoryReturnBsc.xml,DMS.DataAccess" />
    <!--POReceipt tables Mapper-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.POReceipt.PoReceipt.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.POReceipt.PoReceiptHeader.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.POReceipt.PoReceiptLot.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.POReceipt.DeliveryNote.xml,DMS.DataAccess" />
    <!--added by bozhenfei on 20110210-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.POReceipt.ArrivalDateInit.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.POReceipt.WaybillInit.xml,DMS.DataAccess" />
    <!--end-->

    <!--Transfer tables Mapper-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Transfer.Transfer.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Transfer.TransferLine.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Transfer.TransferLot.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Transfer.TransferInit.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Transfer.TransferBorrowInit.xml,DMS.DataAccess" />

    <!--ShipmentOrder tables Mapper-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.ShipmentHeader.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.ShipmentLine.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.ShipmentLot.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.ShipmentOperation.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.ShipmentConsignment.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.ShipmentAdjustLot.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.ShipmentlpConfirmHeader.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.ShipmentlpConfirmDetail.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.ShipmentInvoiceInit.xml,DMS.DataAccess" />

    <!--added by bozhenfei on 20130718 @经销商销售价格历史表-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.DealerProductPriceHistory.xml,DMS.DataAccess" />
    <!--added by hxw on 20130719 @打印设定-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.DealerCommonSetting.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.CalendarDate.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.SalesInterface.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.ShipmentInit.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.UploadLog.xml,DMS.DataAccess" />

    <!--ORDER tables Mapper added by bozhefnei on 20110210-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Order.PurchaseOrderHeader.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Order.DealerShipTo.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Order.CfnPrice.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Order.DealerOrderSetting.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Order.PurchaseOrderDetail.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Order.PurchaseOrderLog.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Order.PurchaseOrderInterface.xml,DMS.DataAccess" />
    <!--<sqlMap embedded ="DMS.DataAccess.Resources.maps.Order.InterfaceOrder.xml,DMS.DataAccess" />-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Order.PurchaseOrderConfirmation.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Order.PurchaseOrderInit.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Order.DealerPriceInit.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Order.PromotionPolicy.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Order.BatchOrderInit.xml,DMS.DataAccess" />

    <!--Payment tables Mapper added by bozhenfei on 20110210-->
    <!--
        <sqlMap embedded ="DMS.DataAccess.Resources.maps.Payment.DealerPaymentOrderDetail.xml,DMS.DataAccess" />
        <sqlMap embedded ="DMS.DataAccess.Resources.maps.Payment.DealerPaymentOrderHeader.xml,DMS.DataAccess" />
        <sqlMap embedded ="DMS.DataAccess.Resources.maps.Payment.InterfacePayment.xml,DMS.DataAccess" />-->

    <!--Maintainance tables Mapper added by bozhenfei on 20110210-->
    <!--
        <sqlMap embedded ="DMS.DataAccess.Resources.maps.Maintainance.MaintainanceOrderDetail.xml,DMS.DataAccess" />
        <sqlMap embedded ="DMS.DataAccess.Resources.maps.Maintainance.MaintainanceOrderHeader.xml,DMS.DataAccess" />
		    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Maintainance.MaintainanceOrderItem.xml,DMS.DataAccess" />
        <sqlMap embedded ="DMS.DataAccess.Resources.maps.Maintainance.MaintainanceOrderLog.xml,DMS.DataAccess" />-->


    <!--DCM tables Mapper-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DCM.BulletinDetail.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DCM.BulletinMain.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DCM.IssuesList.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DCM.Dealerqa.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DCM.WaitProcessTask.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DCM.Attachment.xml,DMS.DataAccess" />

    <!--AOP tables Mapper-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.AOP.AopDealer.xml,DMS.DataAccess" />

    <!--Message tables Mapper added by bozhenfein on 20110324-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Message.MailMessageProcess.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Message.ShortMessageProcess.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Message.MailMessageTemplate.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Message.ShortMessageTemplate.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Message.MailMessageQueue.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Message.ShortMessageQueue.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Message.MailMessageAttachment.xml,DMS.DataAccess" />
    <!--added by songweiming on 20131011 -->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Message.MailDeliveryAddress.xml,DMS.DataAccess" />

    <!--DP-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DP.DealerInfo.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DP.DpRight.xml,DMS.DataAccess" />

    <!--Data Interface-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceAdjust.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceAdjustConfirmation.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceConfirmation.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceDeliveryConfirmation.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceLog.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceSales.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceShipment.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceTransfer.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.DeliveryInterface.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceWarehouse.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.AdjustConfirmation.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.AdjustNote.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.DeliveryConfirmation.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.SalesNote.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.TransferNote.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceDealerSalesWriteback.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceDealerConsignmentSalesPrice.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceDealerReturnConfirm.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceHospitalTransactionWithqr.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceTransferForls.xml,DMS.DataAccess" />
    <!--<sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.PushStack.xml,DMS.DataAccess" />-->
    <!--added by Songweiming on 20170312 红会医院接口 Start-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceRedCrossHospitalTransactionWithqr.xml,DMS.DataAccess" />
    <!--added by Songweiming on 20170312 红会医院接口 End-->

    <!--added by Songweiming on 20151210 二维码管理项目 Start-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceqrCodeMaster.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceShipmentbscslc.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceqrDealerTransaction.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.POReceipt.DeliveryNotebscslc.xml,DMS.DataAccess" />
    <!--added by Songweiming on 20151210 二维码管理项目 End-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceTransferFort2.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.Interfacet2DeliveryConfirmation.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.InterfaceHospitalSalesFort2.xml,DMS.DataAccess" />
    <!--added by Huyong on 20171016 波科平台数据接口32 33 34 End-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DataInterface.Interfacet2ContactInfo.xml,DMS.DataAccess" />

    <!--Contract-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.BusinessLicense.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.BusinessReferences.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.CompanyStockholder.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.CorporateEntity.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.MedicalDevices.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.PublicOffice.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.SeniorCompany.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.ContractMaster.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.ContractAppointment.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.ContractAmendment.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.ContractTermination.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.ContractRenewal.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.TrainingSignIn.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.TerminationForm.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.ContractPurchaseQuotas.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.ContractProductLine.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.ContractTerritory.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.PurchaseQuotasHospital.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.DealerAuthorizationTableTemp.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.AopDealerTemp.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.AopDealerHospitalTemp.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.AopicDealerHospitalTemp.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.IcProductStandardPrice.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.AopDealerHistory.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.AopDealerHospitaHistory.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.AopicDealerHospitalHistory.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.HospitalListHistory.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.DealeriafSign.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.AopRemark.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.ProductClassification.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.ThirdPartyDisclosure.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.DealerAuthorizationAreaTemp.xml,DMS.DataAccess" />

    <!--DCMS—SubBU-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.ClassificationAuthorization.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.ClassificationContract.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.ClassificationQuota.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.ThirdPartyDisclosureList.xml,DMS.DataAccess" />


    <!--WeChat-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.WeChat.ReportSales.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.WeChat.HospitalReportUser.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.WeChat.CfnWeChat.xml,DMS.DataAccess" />

    <sqlMap embedded ="DMS.DataAccess.Resources.maps.WeChat.BusinessWechatUser.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.WeChat.IntegralExchange.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.WeChat.WechatOperatLog.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.WeChat.ProductCodeReport.xml,DMS.DataAccess" />
    <!--DRM WeChat-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.WeChat.Wechatfqa.xml,DMS.DataAccess" />
    <!--ScoreCard-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ScoreCard.EndoScoreCard.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ScoreCard.ScAttachment.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ScoreCard.ScoreCardLog.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ScoreCard.EndoScoreCardInit.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ScoreCard.EndoScoreCardHeader.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ScoreCard.EndoScoreCardDetail.xml,DMS.DataAccess" />

    <!--DealerTrain-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DealerTrain.TrainMaster.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DealerTrain.TrainDetail.xml,DMS.DataAccess" />
    <!--sqlMap embedded ="DMS.DataAccess.Resources.maps.DealerTrain.DealerSign.xml,DMS.DataAccess" /-->
    <!--sqlMap embedded ="DMS.DataAccess.Resources.maps.DealerTrain.SignRelation.xml,DMS.DataAccess" /-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DealerTrain.SalesTrainMaster.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DealerTrain.DealerSales.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DealerTrain.BscUser.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DealerTrain.TeacherDealerRelation.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DealerTrain.TrainManager.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DealerTrain.TrainScoreImport.xml,DMS.DataAccess" />

    <!--Promotion-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Promotion.ProPolicy.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Promotion.ProPolicyFactorUi.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Promotion.ProPolicyRuleUi.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Promotion.ProPolicyRuleFactorUi.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Promotion.TProFlow.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Promotion.ProBuPointRatio.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Promotion.ProBuPointRatioUi.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Promotion.ProInitPointFlow.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Promotion.ProInitPointFlowDetail.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Promotion.ProDescription.xml,DMS.DataAccess" />
    <!--ConsignmentApply-->

    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ConsignmentApply.ConsignmentApplyDetails.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ConsignmentApply.ConsignmentApplyHeader.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ConsignmentApply.ConsignmentDealer.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ConsignmentApply.ConsignmentMaster.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ConsignmentApply.ConsignmentCfn.xml,DMS.DataAccess" />
    <!--DPInfo-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DPInfo.DpStatementHeader.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DPInfo.DpStatementDetail.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DPInfo.DpStatementField.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DPInfo.DpStatementChangeLog.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DPInfo.DpStatementCashflow.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DPInfo.DpStatementRatio.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DPInfo.DpStatementScorecardHeader.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DPInfo.DpStatementScorecard.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DPInfo.DPImport.xml,DMS.DataAccess" />
    <!--end-->

    <!---->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.TIWcDealerBarcodeqRcodeScan.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.InventoryqrOperation.xml,DMS.DataAccess" />
    <!--lijie add 2016-03-04-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Sample.SampleApplyHead.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Sample.SampleReturnHead.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Sample.SampleTesting.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Sample.SampleUpn.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Sample.SampleEval.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Sample.SampleSyncStack.xml,DMS.DataAccess" />
    <!---->
    <!--add by lijie add 2016-07-26 经销商积分和红票额度上传-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Promotion.TProOutLinePoints.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Promotion.TProRedInvoice.xml,DMS.DataAccess" />
    <!--add by lijie add 2016-09-26 后台操作日志-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Log.LafiteLog.xml,DMS.DataAccess" />

    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Report.Report.xml,DMS.DataAccess" />

    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.XlsImport.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.DP.DPForecastImport.xml,DMS.DataAccess" />

    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.ConsignmentDiscountRule.xml,DMS.DataAccess" />
    <!--add by hou zhi yong-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Inventory.ReturnPositionSearch.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.TenderAuthorizationList.xml,DMS.DataAccess" />

    <!--Ekp Workflow Begin-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.EKPWorkflow.FormInstanceMaster.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.EKPWorkflow.WorkflowLog.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.EKPWorkflow.WorkflowSetting.xml,DMS.DataAccess" />
    <!--End-->

    <!--Kendo Common Begin-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.KendoCommon.Lafite.xml,DMS.DataAccess" />
    <!--End-->
    
    
    <!--Kendo Common Begin-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ContractElectronic.LPAndT1.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ContractElectronic.ExportUploadDetail.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ContractElectronic.DealerMasterDD.xml,DMS.DataAccess" />
    <!--<sqlMap embedded ="DMS.DataAccess.Resources.maps.ContractElectronic.Query.xml,DMS.DataAccess" />-->
    <!--End-->
    
    <!--E Sign Begin-->
    <sqlMap embedded ="DMS.Signature.Maps.EnterpriseMaster.xml,DMS.Signature" />
    <sqlMap embedded ="DMS.Signature.Maps.EnterpriseSeal.xml,DMS.Signature" />
    <sqlMap embedded ="DMS.Signature.Maps.FileVersion.xml,DMS.Signature" />
    <sqlMap embedded ="DMS.Signature.Maps.OperationLog.xml,DMS.Signature" />
    <sqlMap embedded ="DMS.Signature.Maps.FileKeyWord.xml,DMS.Signature" />
    <sqlMap embedded ="DMS.Signature.Maps.EnterprisePayAuth.xml,DMS.Signature" />
    <sqlMap embedded ="DMS.Signature.Maps.EnterpriseAuthentication.xml,DMS.Signature" />

    <sqlMap embedded ="DMS.Signature.Maps.EnterpriseMapping.xml,DMS.Signature" />
    <sqlMap embedded ="DMS.Signature.Maps.EnterpriseAuthList.xml,DMS.Signature" />
    
    <sqlMap embedded ="DMS.Signature.Maps.EnterpriseLegalMaster.xml,DMS.Signature" />
    <sqlMap embedded ="DMS.Signature.Maps.EnterpriseLegalSeal.xml,DMS.Signature" />
    
    <!--End-->
    <!--管理员调整流程中经销商合同-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.AmendmentMainTemp.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Contract.AmendmentProposalsTemp.xml,DMS.DataAccess" />

    <!--销售单校验-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.HospitalShipmentbscBeforeSubmitInit.xml,DMS.DataAccess" />
    <!--End-->
    <!--寄售合同申请-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Consignment.ContractHeader.xml,DMS.DataAccess" />
    <!--End-->
    <!--寄售合同终止-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Consignment.ConsignmentTermination.xml,DMS.DataAccess" />
    <!--End-->
    <!--寄售合同明细-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Consignment.ContractDetail.xml,DMS.DataAccess" />
    <!--End-->
    <!--寄售合同买断-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Consignment.ConsignInventoryAdjustHeader.xml,DMS.DataAccess" />
    <!--End-->
    <!--寄售转移-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Consignment.TransferHeader.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Consignment.TransferDetail.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Consignment.TransferConfirm.xml,DMS.DataAccess" />
    <!--End-->
    <!--寄售合同Common-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Consignment.ConsignCommon.xml,DMS.DataAccess" />
    <!--End-->
    
    <!--寄售审批批量导入-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ConsignmentApply.ConsignmentApplyInit.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.ConsignmentApply.ConsignmentTransferInit.xml,DMS.DataAccess" />
    <!--End-->
    <!--Lafite-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Lafite.Identity.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Lafite.SiteMap.xml,DMS.DataAccess" />
    <!--End-->
    
    <!--Platform-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Platform.SystemManual.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Platform.OperLogMaster.xml,DMS.DataAccess" />
    <!--End-->

    <!--Interface-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Interface.MdmEmployeeMaster.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Interface.RvDealerKpiScoreSummary.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Interface.RvDealerKpiScoreDetail.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Interface.RvDealerKpiScoreWarning.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Interface.TIQvSalesRep.xml,DMS.DataAccess" />
    <!--End-->
    
    <!--经销商报表-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Report.V_DealerContractMaster.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Report.GC_Fn_Report_OrderSalesMonthSumTable.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Report.POReceiptHeader.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Report.InventoryDailyBackup.xml,DMS.DataAccess" />
    <!--End-->

    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterPage.DealerSpecialUPN.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.OBORESign.OBORESign.xml,DMS.DataAccess" />
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.HCPPassport.DealerAccount.xml,DMS.DataAccess" />

    <sqlMap embedded ="DMS.DataAccess.Resources.maps.Promotion.ProLargessFort2Init.xml,DMS.DataAccess" />
    
    <!--管理员首页-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterPage.AdminHome.xml,DMS.DataAccess" />
    
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.CfnPriceImportInit.xml,DMS.DataAccess" />
    
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.AOP.AOPHospitalReference.xml,DMS.DataAccess" />
    <!--用量日期-->
    <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.MasterDatas.xml,DMS.DataAccess" />
	  
	<!--发票产品映射-->
	 <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.InvGoodsCfgInit.xml,DMS.DataAccess" />
	 <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.InvGoodsConfig.xml,DMS.DataAccess" />
     <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.ReconcileRule.xml,DMS.DataAccess" />

	  <!--报量发票对账-->
	  <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.InvReconcile.xml,DMS.DataAccess" />
	  <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.InvReconcileDetailTemp.xml,DMS.DataAccess" />
	  <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.InvReconcileDetail.xml,DMS.DataAccess" />
	  
	  <!--发票医院映射-->
	  <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.InvHospitalCfgInit.xml,DMS.DataAccess" />
	  <sqlMap embedded ="DMS.DataAccess.Resources.maps.MasterData.InvHospitalCfg.xml,DMS.DataAccess" />
	  <!--EmbedData-->
	  <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.SellOutDetailInfo.xml,DMS.DataAccess" />
	  <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.SellOutDetailInfoTemp.xml,DMS.DataAccess" />
	  <!--SellInData-->
	  <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.SellInDetailInfo.xml,DMS.DataAccess" />
	  <sqlMap embedded ="DMS.DataAccess.Resources.maps.Shipment.SellInDetailInfoTemp.xml,DMS.DataAccess" />
  </sqlMaps>
</sqlMapConfig>