<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add databaseInstanceName="ConnectionString" writeLogStoredProcName="Lafite_WriteUserLog"
        addCategoryStoredProcName="Lafite_AddCategory" formatter="Text Formatter"
        listenerDataType="Grapecity.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Grapecity.Logging.Database, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        traceOutputOptions="Callstack" filter="All" type="Grapecity.Logging.Database.FormattedDatabaseTraceListener, Grapecity.Logging.Database, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="Database Listener" />


      <add fileName="logs\debug.log" footer="----------------footer------------------------"
          formatter="Text Formatter" header="----------------header------------------------"
          rollFileExistsBehavior="Increment" rollInterval="None" rollSizeKB="2048"
          timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          traceOutputOptions="None" filter="Verbose" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Debug Listener" />

      <add fileName="logs\error.log" footer="----------------footer------------------------"
          formatter="Text Formatter" header="----------------header------------------------"
          rollFileExistsBehavior="Increment" rollInterval="None" rollSizeKB="2048"
          timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          traceOutputOptions="None" filter="Error" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Error Listener" />

      <add source="Grapecity" formatter="Text Formatter" log="" machineName="."
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Event Log" />

      <add fileName="logs\trace.log" footer="----------------footer------------------------"
        formatter="Text Formatter" header="----------------header------------------------"
        rollFileExistsBehavior="Increment" rollInterval="None" rollSizeKB="2048"
        timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Flat Listener" />

      <add fileName="logs\warning.log" footer="----------------footer------------------------"
        formatter="Text Formatter" header="----------------header------------------------"
        rollFileExistsBehavior="Increment" rollInterval="None" rollSizeKB="2048"
        timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="Warning" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Warning Listener" />

      <add fileName="logs\import.log" footer="----------------footer------------------------"
     formatter="Text Formatter" header="----------------header------------------------"
     rollFileExistsBehavior="Increment" rollInterval="None" rollSizeKB="2048"
     timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     traceOutputOptions="None" filter="Warning" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     name="Import Listener" />

    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Text Formatter" />
    </formatters>
    <logFilters>
      <add minimumPriority="-1" maximumPriority="100" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Priority" />
    </logFilters>
    <categorySources>
      <add switchValue="Information" name="Import">
        <listeners>
          <add name="Import Listener" />
        </listeners>
      </add>
      <add switchValue="Information" name="MasterData">
        <listeners>
          <add name="Database Listener" />
        </listeners>
      </add>
      <add switchValue="Information" name="Audit">
        <listeners>
          <add name="Database Listener" />
        </listeners>
      </add>
      <add switchValue="Critical" name="Critical">
        <listeners>
          <add name="Error Listener" />
          <add name="Event Log" />
        </listeners>
      </add>
      <add switchValue="Verbose" name="Debug">
        <listeners>
          <add name="Debug Listener" />
        </listeners>
      </add>
      <add switchValue="Error" name="Error">
        <listeners>
          <add name="Error Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Flat Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Information">
        <listeners>
          <add name="Database Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Trace">
        <listeners>
          <add name="Flat Listener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="Warning">
        <listeners>
          <add name="Warning Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Error Listener" />
          <add name="Event Log" />
          <add name="Warning Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="120" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
        type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Cache Manager" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Null Storage" />
    </backingStores>
  </cachingConfiguration>
  <unity>
    <typeAliases>
      <typeAlias alias="string" type="System.String, mscorlib" />
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <typeAlias alias="transparentProxy" type="Microsoft.Practices.Unity.InterceptionExtension.TransparentProxyInterceptor,Microsoft.Practices.Unity.Interception" />
      <typeAlias alias="interface" type="Microsoft.Practices.Unity.InterceptionExtension.InterfaceInterceptor, Microsoft.Practices.Unity.Interception" />
      <typeAlias alias="ILogger" type="Grapecity.Logging.Common.ILogger, Grapecity.Core" />
      <typeAlias alias="NullLogger" type="Grapecity.Logging.Providers.NullLogger, Grapecity.Core" />
      <typeAlias alias="IHospitals" type="DMS.Business.IHospitals, DMS.Business" />
      <typeAlias alias="IDealerContracts" type="DMS.Business.IDealerContracts, DMS.Business" />
      <typeAlias alias="IProductClassifications" type="DMS.Business.IProductClassifications, DMS.Business" />

      <typeAlias alias="ICfns" type="DMS.Business.ICfns, DMS.Business" />
      <typeAlias alias="IDealerMasters" type="DMS.Business.IDealerMasters, DMS.Business" />

      <typeAlias alias="IPOReceipt" type="DMS.Business.IPOReceipt, DMS.Business" />
      <typeAlias alias="ITransferBLL" type="DMS.Business.ITransferBLL, DMS.Business" />
      <typeAlias alias="IInventoryAdjustBLL" type="DMS.Business.IInventoryAdjustBLL, DMS.Business" />
      <typeAlias alias="IShipmentBLL" type="DMS.Business.IShipmentBLL, DMS.Business" />
      <typeAlias alias="IQueryInventoryBiz" type="DMS.Business.IQueryInventoryBiz, DMS.Business" />
      <typeAlias alias="IWarehouses" type="DMS.Business.IWarehouses, DMS.Business" />

      <typeAlias alias="BaseBusiness" type="DMS.Business.BaseBusiness, DMS.Business" />
      <typeAlias alias="Hospitals" type="DMS.Business.Hospitals, DMS.Business" />
      <typeAlias alias="DealerContracts" type="DMS.Business.DealerContracts, DMS.Business" />
      <typeAlias alias="ProductClassifications" type="DMS.Business.ProductClassifications, DMS.Business" />
      <typeAlias alias="Cfns" type="DMS.Business.Cfns, DMS.Business" />
      <typeAlias alias="DealerMasters" type="DMS.Business.DealerMasters, DMS.Business" />

      <typeAlias alias="POReceipt" type="DMS.Business.POReceipt, DMS.Business" />
      <typeAlias alias="TransferBLL" type="DMS.Business.TransferBLL, DMS.Business" />
      <typeAlias alias="InventoryAdjustBLL" type="DMS.Business.InventoryAdjustBLL, DMS.Business" />
      <typeAlias alias="ShipmentBLL" type="DMS.Business.ShipmentBLL, DMS.Business" />
      <typeAlias alias="QueryInventoryBiz" type="DMS.Business.QueryInventoryBiz, DMS.Business" />
      <typeAlias alias="Warehouses" type="DMS.Business.Warehouses, DMS.Business" />

      <!--added by bozhenfei on 20100324-->
      <typeAlias alias="IPurchaseOrderBLL" type="DMS.Business.IPurchaseOrderBLL, DMS.Business" />
      <typeAlias alias="PurchaseOrderBLL" type="DMS.Business.PurchaseOrderBLL, DMS.Business" />
      <!--end-->
      <typeAlias alias="IDealerPriceBLL" type="DMS.Business.IDealerPriceBLL, DMS.Business" />
      <typeAlias alias="DealerPriceBLL" type="DMS.Business.DealerPriceBLL, DMS.Business" />

      <!--added by huxiang on 20110223-->
      <!--
      <typeAlias alias="IDealerPaymentOrderBLL" type="DMS.Business.IDealerPaymentOrderBLL, DMS.Business" />
      <typeAlias alias="DealerPaymentOrderBLL" type="DMS.Business.DealerPaymentOrderBLL, DMS.Business" />
      -->
      <!--end-->

      <!--added by huxiang on 20110228-->
      <!--
      <typeAlias alias="IMaintainanceBLL" type="DMS.Business.IMaintainanceBLL, DMS.Business" />
      <typeAlias alias="MaintainanceBLL" type="DMS.Business.MaintainanceBLL, DMS.Business" />
      -->
      <!--end-->

      <typeAlias alias="ICfnSetBLL" type="DMS.Business.ICfnSetBLL, DMS.Business" />
      <typeAlias alias="CfnSetBLL" type="DMS.Business.CfnSetBLL, DMS.Business" />

      <typeAlias alias="IRegistrationBll" type="DMS.Business.IRegistrationBll, DMS.Business" />
      <typeAlias alias="RegistrationBll" type="DMS.Business.RegistrationBll, DMS.Business" />

      <typeAlias alias="PaymentBLL" type="DMS.Business.PaymentBLL, DMS.Business" />
      <typeAlias alias="IPaymentBLL" type="DMS.Business.IPaymentBLL, DMS.Business" />

      <typeAlias alias="CFNHospitalPriceBLL" type="DMS.Business.CFNHospitalPriceBLL, DMS.Business" />
      <typeAlias alias="ICFNHospitalPriceBLL" type="DMS.Business.ICFNHospitalPriceBLL, DMS.Business" />

      <typeAlias alias="DealerRelationBLL" type="DMS.Business.DealerRelationBLL, DMS.Business" />
      <typeAlias alias="IDealerRelationBLL" type="DMS.Business.IDealerRelationBLL, DMS.Business" />

      <typeAlias alias="IRegistrationInitBLL" type="DMS.Business.IRegistrationInitBLL, DMS.Business" />
      <typeAlias alias="RegistrationInitBLL" type="DMS.Business.RegistrationInitBLL, DMS.Business" />

      <typeAlias alias="IBulletinManageBLL" type="DMS.Business.IBulletinManageBLL, DMS.Business" />
      <typeAlias alias="BulletinManageBLL" type="DMS.Business.BulletinManageBLL, DMS.Business" />

      <typeAlias alias="IBulletinSearchBLL" type="DMS.Business.IBulletinSearchBLL, DMS.Business" />
      <typeAlias alias="BulletinSearchBLL" type="DMS.Business.BulletinSearchBLL, DMS.Business" />

      <typeAlias alias="IIssuesListBLL" type="DMS.Business.IIssuesListBLL, DMS.Business" />
      <typeAlias alias="IssuesListBLL" type="DMS.Business.IssuesListBLL, DMS.Business" />

      <typeAlias alias="IDealerQABLL" type="DMS.Business.IDealerQABLL, DMS.Business" />
      <typeAlias alias="DealerQABLL" type="DMS.Business.DealerQABLL, DMS.Business" />

      <typeAlias alias="IInventorySafetyBLL" type="DMS.Business.IInventorySafetyBLL, DMS.Business" />
      <typeAlias alias="InventorySafetyBLL" type="DMS.Business.InventorySafetyBLL, DMS.Business" />

      <typeAlias alias="IStocktakingBLL" type="DMS.Business.IStocktakingBLL, DMS.Business" />
      <typeAlias alias="StocktakingBLL" type="DMS.Business.StocktakingBLL, DMS.Business" />

      <typeAlias alias="IAopDealerBLL" type="DMS.Business.IAopDealerBLL, DMS.Business" />
      <typeAlias alias="AopDealerBLL" type="DMS.Business.AopDealerBLL, DMS.Business" />

      <!--added by bozhenfei on 20110211-->
      <typeAlias alias="ITerritoryBLL" type="DMS.Business.ITerritoryBLL, DMS.Business" />
      <typeAlias alias="TerritoryBLL" type="DMS.Business.TerritoryBLL, DMS.Business" />
      <!--added by huyong on 20110222-->
      <typeAlias alias="IArrivalDate" type="DMS.Business.IArrivalDate, DMS.Business" />
      <typeAlias alias="ArrivalDate" type="DMS.Business.ArrivalDate, DMS.Business" />
      <typeAlias alias="ISendInvoice" type="DMS.Business.ISendInvoice, DMS.Business" />
      <typeAlias alias="SendInvoice" type="DMS.Business.SendInvoice, DMS.Business" />
      <!--end-->
      <!--added by bozhenfei on 20110329-->
      <typeAlias alias="IMessageBLL" type="DMS.Business.IMessageBLL, DMS.Business" />
      <typeAlias alias="MessageBLL" type="DMS.Business.MessageBLL, DMS.Business" />

      <typeAlias alias="IAttachmentBLL" type="DMS.Business.IAttachmentBLL, DMS.Business" />
      <typeAlias alias="AttachmentBLL" type="DMS.Business.AttachmentBLL, DMS.Business" />
      <!--Contract-->
      <typeAlias alias="IContractMasterBLL" type="DMS.Business.IContractMasterBLL, DMS.Business" />
      <typeAlias alias="ContractMasterBLL" type="DMS.Business.ContractMasterBLL, DMS.Business" />

      <!--WeChat-->
      <typeAlias alias="IReportSalesBLL" type="DMS.Business.IReportSalesBLL, DMS.Business" />
      <typeAlias alias="ReportSalesBLL" type="DMS.Business.ReportSalesBLL, DMS.Business" />

      <!--ConsignmentApply-->
      <typeAlias alias="IConsignmentApplyHeaderBLL" type="DMS.Business.IConsignmentApplyHeaderBLL, DMS.Business" />
      <typeAlias alias="ConsignmentApplyHeaderBLL" type="DMS.Business.ConsignmentApplyHeaderBLL, DMS.Business" />
      <typeAlias alias="IConsignmentApplyDetailsBLL" type="DMS.Business.IConsignmentApplyDetailsBLL, DMS.Business" />
      <typeAlias alias="ConsignmentApplyDetailsBLL" type="DMS.Business.ConsignmentApplyDetailsBLL, DMS.Business" />
      <typeAlias alias="IConsignmentMasterBLL" type="DMS.Business.IConsignmentMasterBLL, DMS.Business" />
      <typeAlias alias="ConsignmentMasterBLL" type="DMS.Business.ConsignmentMasterBLL, DMS.Business" />
      
      <!--BarCode-->
      <typeAlias alias="ITIWcDealerBarcodeqRcodeScanBLL" type="DMS.Business.ITIWcDealerBarcodeqRcodeScanBLL, DMS.Business" />
      <typeAlias alias="TIWcDealerBarcodeqRcodeScanBLL" type="DMS.Business.TIWcDealerBarcodeqRcodeScanBLL, DMS.Business" />
    </typeAliases>
    <containers>
      <container name="application">
        <types>
          <type type="ILogger" mapTo="NullLogger">
            <lifetime type="singleton" />
          </type>
          <type type="IHospitals" mapTo="Hospitals"> </type>
          <type type="IDealerContracts" mapTo="DealerContracts"> </type>
          <type type="IProductClassifications" mapTo="ProductClassifications"> </type>
          <type type="ICfns" mapTo="Cfns"> </type>
          <type type="IDealerMasters" mapTo="DealerMasters"> </type>

          <type type="IPOReceipt" mapTo="POReceipt"> </type>
          <type type="ITransferBLL" mapTo="TransferBLL"> </type>
          <type type="IInventoryAdjustBLL" mapTo="InventoryAdjustBLL"> </type>
          <type type="IShipmentBLL" mapTo="ShipmentBLL"> </type>
          <type type="IQueryInventoryBiz" mapTo="QueryInventoryBiz"> </type>
          <type type="IWarehouses" mapTo="Warehouses"> </type>

          <!--added by bozhenfei on 20100324-->
          <type type="IPurchaseOrderBLL" mapTo="PurchaseOrderBLL"> </type>
          <!--end-->
          <type type="IDealerPriceBLL" mapTo="DealerPriceBLL"> </type>

          <!--added by huxiang on 20110223-->
          <!--
          <type type="IDealerPaymentOrderBLL" mapTo="DealerPaymentOrderBLL"> </type>
          -->
          <!--end-->

          <!--added by huxiang on 20110228-->
          <!--
          <type type="IMaintainanceBLL" mapTo="MaintainanceBLL"> </type>
          -->
          <!--end-->

          <type type="ICfnSetBLL" mapTo="CfnSetBLL"> </type>
          <type type="IRegistrationBll" mapTo="RegistrationBll"> </type>
          <type type="IPaymentBLL" mapTo="PaymentBLL"> </type>
          <type type="ICFNHospitalPriceBLL" mapTo="CFNHospitalPriceBLL"> </type>
          <type type="IDealerRelationBLL" mapTo="DealerRelationBLL"> </type>
          <type type="IRegistrationInitBLL" mapTo="RegistrationInitBLL"> </type>
          <type type="IBulletinManageBLL" mapTo="BulletinManageBLL"> </type>
          <type type="IBulletinSearchBLL" mapTo="BulletinSearchBLL"> </type>
          <type type="IIssuesListBLL" mapTo="IssuesListBLL"> </type>
          <type type="IDealerQABLL" mapTo="DealerQABLL"> </type>
          <type type="IInventorySafetyBLL" mapTo="InventorySafetyBLL"> </type>
          <type type="IStocktakingBLL" mapTo="StocktakingBLL"> </type>

          <type type="IAopDealerBLL" mapTo="AopDealerBLL"> </type>

          <!--added by bozhefnei on 20110211-->
          <type type="ITerritoryBLL" mapTo="TerritoryBLL"> </type>
          <!--added by huyong on 20110222-->
          <type type="IArrivalDate" mapTo="ArrivalDate"> </type>
          <type type="ISendInvoice" mapTo="SendInvoice"> </type>
          <!--end-->
          <!--added by bozhefnei on 20110329-->
          <type type="IMessageBLL" mapTo="MessageBLL"> </type>

          <type type="IAttachmentBLL" mapTo="AttachmentBLL"> </type>

          <!--Contract-->
          <type type="IContractMasterBLL" mapTo="ContractMasterBLL"> </type>

          <!--WeChat-->
          <type type="IReportSalesBLL" mapTo="ReportSalesBLL"> </type>
          <!--ConsignmentApply-->
          <type type="IConsignmentApplyHeaderBLL" mapTo="ConsignmentApplyHeaderBLL"> </type>
          <type type="IConsignmentApplyDetailsBLL" mapTo="ConsignmentApplyDetailsBLL"> </type>
          <type type="IConsignmentMasterBLL" mapTo="ConsignmentMasterBLL"> </type>

          <type type="ITIWcDealerBarcodeqRcodeScanBLL" mapTo="TIWcDealerBarcodeqRcodeScanBLL"> </type>
        </types>
        <extensions>
          <add type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Unity.EnterpriseLibraryCoreExtension, Microsoft.Practices.EnterpriseLibrary.Common" />
          <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.Unity.LoggingBlockExtension, Microsoft.Practices.EnterpriseLibrary.Logging" />
          <add type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.Unity.CachingBlockExtension, Microsoft.Practices.EnterpriseLibrary.Caching" />
          <add type="Microsoft.Practices.Unity.InterceptionExtension.Interception, Microsoft.Practices.Unity.Interception" />
        </extensions>
        <extensionConfig>
          <add name="interception" type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationElement, Microsoft.Practices.Unity.Interception.Configuration">
            <interceptors>
              <interceptor type="interface">
                <default type="IHospitals" />
                <key type="IHospitals" />
                <key type="IDealerContracts"  />
                <key type="IProductClassifications"  />
                <key type="ICfns"  />
                <key type="IDealerMasters"  />
                <key type="IPOReceipt"  />
                <key type="ITransferBLL"  />
                <key type="IInventoryAdjustBLL"  />
                <key type="IShipmentBLL"  />
                <key type="IQueryInventoryBiz"  />
                <key type="IWarehouses"  />
                <!--added by bozhenfei on 20100324-->
                <key type="IPurchaseOrderBLL"  />
                <!--end-->
                <key type="IDealerPriceBLL"  />
                <key type="ICfnSetBLL"  />
                <key type="IRegistrationBll"  />
                <key type="IPaymentBLL"  />
                <key type="ICFNHospitalPriceBLL"  />
                <key type="IDealerRelationBLL"  />
                <key type="IRegistrationInitBLL"  />
                <key type="IBulletinManageBLL"  />
                <key type="IBulletinSearchBLL"  />
                <key type="IIssuesListBLL"  />
                <key type="IDealerQABLL"  />
                <key type="IInventorySafetyBLL"  />
                <key type="IStocktakingBLL"  />
                <key type="IAopDealerBLL"  />

                <!--added by bozhenfei on 20110211-->
                <key type="ITerritoryBLL"  />
                <key type="IArrivalDate"  />
                <key type="ISendInvoice" />
                <!--end-->
                <!--added by huxiang on 20110223-->
                <!--
                <key type="IDealerPaymentOrderBLL"></key>
                -->
                <!--end-->
                <!--added by huxiang on 20110228-->
                <!--
                <key type="IMaintainanceBLL"></key>
                -->
                <!--end-->
                <!--added by bozhenfei on 20110329-->
                <key type="IMessageBLL"  />
                <key type="IAttachmentBLL"  />
                <!--Contract-->
                <key type="IContractMasterBLL"  />

                <!--WeChat-->
                <key type="IReportSalesBLL"  />
                <!--ConsignmentApply-->
                <key type="IConsignmentApplyHeaderBLL"  />
                <key type="IConsignmentApplyDetailsBLL"  />
                <key type="IConsignmentMasterBLL"  />

                <key type="ITIWcDealerBarcodeqRcodeScanBLL"  />
              </interceptor>
            </interceptors>
          </add>
        </extensionConfig>
      </container>
    </containers>
  </unity>


  <dataConfiguration defaultDatabase="ConnectionString" />
  <connectionStrings>
    <!--<add name="RoleModelConnectionString" connectionString="Database=GenesisDMS;Server=47.103.53.0;Integrated Security=false;user id=dms;password=Gm123456;connection timeout=120;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Database=GenesisDMS;Server=47.103.53.0;Integrated Security=false;user id=dms;password=Gm123456;connection timeout=120;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"
    providerName="System.Data.SqlClient" />-->
	  <add name="RoleModelConnectionString" connectionString="Database=GenesisDMS;Server=47.102.205.10;Integrated Security=false;user id=develop;password=develop@2021!;connection timeout=120;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"
      providerName="System.Data.SqlClient" />
	  <add name="ConnectionString" connectionString="Database=GenesisDMS;Server=47.102.205.10;Integrated Security=false;user id=develop;password=develop@2021!;connection timeout=120;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"
	  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>