<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="BaseUrl" value="http://localhost:23872"/>
    <add key="ApiUrl" value="http://localhost:2787/WebApi/ActionHandler.ashx"/>
    <add key="BaseUrl_ServerFilePath" value="http://localhost:2787/Excel/Export/temp/"/>
    <add key="Key" value="j6PQa8YcuGQRnEve" />
    <add key="Iv" value="6nsSnasvRRxykDcK" />
    <add key="AppId" value="wx4659f1ac37eaf91e"/>
    <add key="AppSecret" value="7b62b849ce0006fb06698c39d14b688c"/>
    <add key="AppStateCode" value="DMS"/>
    <add key="ResourceVersion" value="2020021701"/>
    <add key="IsDebug" value="True"/>
  </appSettings>
  <system.web>
    <httpRuntime requestLengthDiskThreshold="10240" maxRequestLength="30720" executionTimeout="1800"/>
    <pages enableSessionState="true" enableViewState="true" enableViewStateMac="true" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off" defaultRedirect="Page/Error.aspx"/>
    <globalization culture="zh-CN" fileEncoding="GB2312"/>
  </system.web>
</configuration>