<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--发送邮件时间间隔（秒)-->
    <add key="MailTask.Interval" value="10" />
    <add key="MailHost" value="mail.genesismedtech.com" />
    <add key="Mail_AddressFrom" value="dms@bpmedtech.com_1" />
    <add key="Mail_AddressPWD" value="Welcome@1_1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Database=GenesisDMS;Server=47.103.53.0;Integrated Security=false;user id=dms;password=Gm123456;connection timeout=120;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>