<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="K2WFEntities" connectionString="metadata=res://*/Domain.K2WFModel.csdl|res://*/Domain.K2WFModel.ssdl|res://*/Domain.K2WFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.33.1.82;initial catalog=MTLBPM;user id=sa;password=Sh123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="" value=""/>
  </appSettings>
</configuration>