.dms-picker {
    background-color: #f6f9fe;
    border-bottom: solid 1px #c5d0dc;
}

.dms-picker-select {
    width: 60px;
    height: 42px;
    line-height: 42px;
    border-style: solid;
    border-width: 0 1px;
    border-color: #c5d0dc;
    background-color: #dff0d8;
    margin: -2px;
    margin-bottom: -3px;
    text-align: center;
}

.dms-picker-clear {
    width: 60px;
    height: 42px;
    line-height: 42px;
    border-style: solid;
    border-width: 0 1px;
    border-color: #c5d0dc;
    background-color: #f2dede;
    margin: -2px;
    margin-bottom: -3px;
    text-align: center;
}



.col6-primary {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 4px solid #d2d6de;
    margin-bottom: 5px;
    
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.col6-box {
    border-top-color: #3c8dbc;
}