<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <!--Start Util-->
  <object id="Util.DealerFilter_Service" type="DMS.BusinessService.Util.DealerFilter.DealerFilterService,DMS.BusinessService" singleton="false"/>
  <object id="Util.EmployeeFilter_Service" type="DMS.BusinessService.Util.EmployeeFilter.EmployeeFilterService,DMS.BusinessService" singleton="false"/>
  <object id="Util.HospitalFilter_Service" type="DMS.BusinessService.Util.HospitalFilter.HospitalFilterService,DMS.BusinessService" singleton="false"/>
  <object id="Util.DealerScreenFilter_Service" type="DMS.BusinessService.Util.DealerFilter.DealerScreenFilterService,DMS.BusinessService" singleton="false"/>
  <!--DataImport-->
  <object id="DataImport.DataImportErrorList_Service" type="DMS.BusinessService.Util.DataImport.DataImportErrorListService,DMS.BusinessService" singleton="false"/>
  <object id="DataImport.DataImportDetailList_Service" type="DMS.BusinessService.Util.DataImport.DataImportDetailListService,DMS.BusinessService" singleton="false"/>
  <!--End   Util-->

  <!--Start 首页-->
  <object id="Home_Service" type="DMS.BusinessService.HomeService,DMS.BusinessService" singleton="false"/>
  <!--End   首页-->

  <!--Start Dashboard-->
  <object id="Dashboard.DealerPage_Service" type="DMS.BusinessService.Dashboard.DealerPageService,DMS.BusinessService" singleton="false"/>
  <object id="Dashboard.AdminPage_Service" type="DMS.BusinessService.Dashboard.AdminPageService,DMS.BusinessService" singleton="false"/>
  <!--End   Dashboard-->

  <!--Start Platform-->
  <object id="Platform.BulletinRead_Service" type="DMS.BusinessService.Platform.BulletinReadService,DMS.BusinessService" singleton="false"/>
  <object id="Platform.Test_Service" type="DMS.BusinessService.Platform.TestService,DMS.BusinessService" singleton="false"/>
  <!--End   Platform-->

  <!--Start 寄售合同管理-->
  <!--Common-->
  <object id="Consign.ConsignCommon_Service" type="DMS.BusinessService.Consign.ConsignCommonService,DMS.BusinessService" singleton="false"/>
  <!--寄售合同-->
  <object id="Consign.ConsignContractList_Service" type="DMS.BusinessService.Consign.ConsignContractListService,DMS.BusinessService" singleton="false"/>
  <object id="Consign.ConsignContractInfo_Service" type="DMS.BusinessService.Consign.ConsignContractInfoService,DMS.BusinessService" singleton="false"/>
  <!--寄售合同申请-->
  <object id="Consign.ConsignApplyList_Service" type="DMS.BusinessService.Consign.ConsignApplyListService,DMS.BusinessService" singleton="false"/>
  <object id="Consign.ConsignUpnPicker_Service" type="DMS.BusinessService.Consign.ConsignUpnPickerService,DMS.BusinessService" singleton="false"/>
  <!--寄售合同终止-->
  <object id="Consign.ConsignmentTerminationList_Service" type="DMS.BusinessService.Consign.ConsignmentTerminationListService,DMS.BusinessService" singleton="false"/>
  <object id="Consign.ConsignmentTerminationInfo_Service" type="DMS.BusinessService.Consign.ConsignmentTerminationInfoService,DMS.BusinessService" singleton="false"/>
  <!--寄售买断-->
  <object id="Consign.ConsignInventoryAdjustHeaderList_Service" type="DMS.BusinessService.Consign.ConsignInventoryAdjustHeaderListService,DMS.BusinessService" singleton="false"/>
  <object id="Consign.ConsignInventoryAdjustHeaderInfo_Service" type="DMS.BusinessService.Consign.ConsignInventoryAdjustHeaderInfoService,DMS.BusinessService" singleton="false"/>
  <object id="Consign.ConsignInventoryAdjustPicker_Service" type="DMS.BusinessService.Consign.ConsignInventoryAdjustPickerService,DMS.BusinessService" singleton="false"/>
  <!--寄售转移-->
  <object id="Consign.ConsignTransferList_Service" type="DMS.BusinessService.Consign.ConsignTransferListService,DMS.BusinessService" singleton="false"/>
  <object id="Consign.ConsignTransferInfo_Service" type="DMS.BusinessService.Consign.ConsignTransferInfoService,DMS.BusinessService" singleton="false"/>
  <object id="Consign.ConsignTransferConfirm_Service" type="DMS.BusinessService.Consign.ConsignTransferConfirmService,DMS.BusinessService" singleton="false"/>
  <object id="Consign.ContractUpnPicker_Service" type="DMS.BusinessService.Consign.ContractUpnPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Consign.ConsignmentTransferInit_Service" type="DMS.BusinessService.Consign.ConsignmentTransferInitService,DMS.BusinessService" singleton="false"/>
  <!--End   寄售合同管理-->

  <!--Start 经销商报表-->
  <!--Common-->
  <!--<object id="Consign.ConsignCommon_Service" type="DMS.BusinessService.Consign.ConsignCommonService,DMS.BusinessService" singleton="false"/>-->
  <!--经销商销售报表-->
  <object id="Report.DealerSalesReport_New_Service" type="DMS.BusinessService.Report.DealerSalesReport_NewService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerAuthCate_New_Service" type="DMS.BusinessService.Report.DealerAuthCate_NewService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerOrderDetailReport_New_Service" type="DMS.BusinessService.Report.DealerOrderDetailReport_NewService,DMS.BusinessService" singleton="false"/>
  <object id="Report.OrderSalesSummaryInMonthReport_New_Service" type="DMS.BusinessService.Report.OrderSalesSummaryInMonthReport_NewService,DMS.BusinessService" singleton="false"/>
  <object id="Report.HospitalReport_New_Service" type="DMS.BusinessService.Report.HospitalReport_NewService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerBuyInReport_New_Service" type="DMS.BusinessService.Report.DealerBuyInReport_NewService,DMS.BusinessService" singleton="false"/>
  <object id="Report.OrderStatusReport_New_Service" type="DMS.BusinessService.Report.OrderStatusReport_NewService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerTransferReport_New_Service" type="DMS.BusinessService.Report.DealerTransferReport_NewService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerInventoryHistoryReport_New_Service" type="DMS.BusinessService.Report.DealerInventoryHistoryReport_NewService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerSalesStatistics_New_Service" type="DMS.BusinessService.Report.DealerSalesStatistics_NewService,DMS.BusinessService" singleton="false"/>
  <object id="Report.ProductOperationLogReport_New_Service" type="DMS.BusinessService.Report.ProductOperationLogReport_NewService,DMS.BusinessService" singleton="false"/>
  <!--End   经销商报表-->

  <!--组套产品-->
  <object id="MasterPage.DealerSpecialUPNList_Service" type="DMS.BusinessService.MasterPage.DealerSpecialUPNListService,DMS.BusinessService" singleton="false"/>
  <object id="MasterPage.DealerSpecialUPNInfo_Service" type="DMS.BusinessService.MasterPage.DealerSpecialUPNInfoService,DMS.BusinessService" singleton="false"/>
  <object id="MasterPage.DealerSpecialUPNPicker_Service" type="DMS.BusinessService.MasterPage.DealerSpecialUPNPickerService,DMS.BusinessService" singleton="false"/>
  <!--OBOR电子签章-->
  <object id="OBORESign.OBORESignList_Service" type="DMS.BusinessService.OBORESign.OBORESignListService,DMS.BusinessService" singleton="false"/>
  <object id="OBORESign.OBORESignInfo_Service" type="DMS.BusinessService.OBORESign.OBORESignInfoService,DMS.BusinessService" singleton="false"/>
  <object id="OBORESign.OBORContractWindow_Service" type="DMS.BusinessService.OBORESign.OBORContractWindowService,DMS.BusinessService" singleton="false"/>
  <object id="OBORESign.OBORVerificationCode_Service" type="DMS.BusinessService.OBORESign.OBORVerificationCodeService,DMS.BusinessService" singleton="false"/>

  <!--HCP Passport-->
  <object id="HCPPassport.DealerAccountList_Service" type="DMS.BusinessService.HCPPassport.DealerAccountListService,DMS.BusinessService" singleton="false"/>
  <object id="HCPPassport.DealerAccountInfo_Service" type="DMS.BusinessService.HCPPassport.DealerAccountInfoService,DMS.BusinessService" singleton="false"/>
  <object id="HCPPassport.DealerAccountPicker_Service" type="DMS.BusinessService.HCPPassport.DealerAccountPickerService,DMS.BusinessService" singleton="false"/>

  <!--个人信息管理-->
  <object id="Inventory.DealerComplainForGoodsRetrunCRM_Service" type="DMS.BusinessService.Inventory.DealerComplainForGoodsRetrunCRMService,DMS.BusinessService" singleton="false"/>
  <object id="MyInfo_Service" type="DMS.BusinessService.MyInfoService,DMS.BusinessService" singleton="false"/>

  <!--库存管理-->
  <object id="Inventory.InventoryAdjustConsignment_Service" type="DMS.BusinessService.Inventory.InventoryAdjustConsignmentService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.InventoryAdjustList_Service" type="DMS.BusinessService.Inventory.InventoryAdjustListService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.InventoryAdjustAuditImport_Service" type="DMS.BusinessService.Inventory.InventoryAdjustAuditImportService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.InventoryAdjustConsignmentInfo_Service" type="DMS.BusinessService.Inventory.InventoryAdjustConsignmentInfoService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.InventoryAdjustList_New_Service" type="DMS.BusinessService.Inventory.InventoryAdjustList_NewService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.QueryInventoryPage_Service" type="DMS.BusinessService.Inventory.QueryInventoryPageService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.WarehouseMaint_Service" type="DMS.BusinessService.Inventory.WarehouseMaintService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.WarehouseEditor_Service" type="DMS.BusinessService.Inventory.WarehouseEditorService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.WHSearchHospital_Service" type="DMS.BusinessService.Inventory.WHSearchHospitalService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.InventoryReturn_Service" type="DMS.BusinessService.Inventory.InventoryReturnService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.InventoryReturnInfo_Service" type="DMS.BusinessService.Inventory.InventoryReturnInfoService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.InventoryReturnImport_Service" type="DMS.BusinessService.Inventory.InventoryReturnImportService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.InventoryReturnConsignmentImport_Service" type="DMS.BusinessService.Inventory.InventoryReturnConsignmentImportService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.InventoryReturnInfoPicker_Service" type="DMS.BusinessService.Inventory.InventoryReturnInfoPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.QueryInventoryPrice_Service" type="DMS.BusinessService.Inventory.QueryInventoryPriceService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.InventoryInit_Service" type="DMS.BusinessService.MasterDatas.InventoryInitService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.ReturnPositionSearch_Service" type="DMS.BusinessService.Inventory.ReturnPositionSearchService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.InventoryAdjustListMtrPicker_Service" type="DMS.BusinessService.Inventory.InventoryAdjustListMtrPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Transfer.TransferUnfreeze_Service" type="DMS.BusinessService.Transfer.TransferUnfreezeService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.InventoryQROperation_Service" type="DMS.BusinessService.Inventory.InventoryQROperationService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.InventoryImport_Service" type="DMS.BusinessService.Inventory.InventoryImportService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.InventoryInit_Service" type="DMS.BusinessService.Inventory.InventoryInitService,DMS.BusinessService" singleton="false"/>
  <object id="Inventory.InventoryAdjustAudit_Service" type="DMS.BusinessService.Inventory.InventoryAdjustAuditService,DMS.BusinessService" singleton="false"/>
  <!--End 库存管理-->

  <!--寄售管理-->
  <object id="Consignment.ConsignmentApplyHeaderList_Service" type="DMS.BusinessService.Consignment.ConsignmentApplyHeaderListService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.ConsignmentAuthorizationList_Service" type="DMS.BusinessService.MasterDatas.ConsignmentAuthorizationListService,DMS.BusinessService" singleton="false"/>
  <object id="Consignment.ConsignmentApplyHeaderInfo_Service" type="DMS.BusinessService.Consignment.ConsignmentApplyHeaderInfoService,DMS.BusinessService" singleton="false"/>
  <object id="Consignment.HospitalPicker_Service" type="DMS.BusinessService.Consignment.HospitalPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Consignment.ReturnUpnPicker_Service" type="DMS.BusinessService.Consignment.ReturnUpnPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Consignment.ConsignmentUpnPicker_Service" type="DMS.BusinessService.Consignment.ConsignmentUpnPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Consignment.ConsignmentPicker_Service" type="DMS.BusinessService.Consignment.ConsignmentPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Consignment.ConsignmentReturnsPicker_Service" type="DMS.BusinessService.Consignment.ConsignmentReturnsPickerService,DMS.BusinessService" singleton="false"/>
  <!--End -->

  <!--收货管理-->
  <object id="POReceipt.DeliveryNoteList_Service" type="DMS.BusinessService.POReceipt.DeliveryNoteListService,DMS.BusinessService" singleton="false"/>
  <object id="POReceipt.POReceiptList_Service" type="DMS.BusinessService.POReceipt.POReceiptListService,DMS.BusinessService" singleton="false"/>
  <object id="POReceipt.POReceiPtImport_Service" type="DMS.BusinessService.POReceipt.POReceiPtImportService,DMS.BusinessService" singleton="false"/>
  <object id="POReceipt.POReceiptListInfo_Service" type="DMS.BusinessService.POReceipt.POReceiptListInfoService,DMS.BusinessService" singleton="false"/>
  <object id="POReceipt.POReceiptDeliveryImport_Service" type="DMS.BusinessService.POReceipt.POReceiptDeliveryImportService,DMS.BusinessService" singleton="false"/>
  <!--End-->

  <!--修改密码-->
  <object id="ChangePassword_Service" type="DMS.BusinessService.ChangePasswordService,DMS.BusinessService" singleton="false"/>

  <!--经销商销售维护-->
  <object id="DealerTrain.SalesUserManage_Service" type="DMS.BusinessService.DealerTrain.SalesUserManageService,DMS.BusinessService" singleton="false"/>
  <object id="DealerTrain.SalesUserImport_Service" type="DMS.BusinessService.DealerTrain.SalesUserImportService,DMS.BusinessService" singleton="false"/>

  <!--成套产品维护-->
  <object id="MasterDatas.CfnSetList_Service" type="DMS.BusinessService.MasterDatas.CfnSetListService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.CfnSetInfo_Service" type="DMS.BusinessService.MasterDatas.CfnSetInfoService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.CfnSetCFN_Service" type="DMS.BusinessService.MasterDatas.CfnSetCFNService,DMS.BusinessService" singleton="false"/>

  <!--寄售成套产品维护-->
  <object id="MasterDatas.ConsignmentCfnSetList_Service" type="DMS.BusinessService.MasterDatas.ConsignmentCfnSetListService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.ConsignmentCfnSetInfo_Service" type="DMS.BusinessService.MasterDatas.ConsignmentCfnSetInfoService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.ConsignmentCfnSetCFN_Service" type="DMS.BusinessService.MasterDatas.ConsignmentCfnSetCFNService,DMS.BusinessService" singleton="false"/>

  <!--医院信息维护-->
  <object id="MasterDatas.HospitalList_Service" type="DMS.BusinessService.MasterDatas.HospitalListService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.HospitalEditor_Service" type="DMS.BusinessService.MasterDatas.HospitalEditorService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.HospitalBaseAop_Service" type="DMS.BusinessService.MasterDatas.HospitalBaseAopService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.HospitalBaseAopImprt_Service" type="DMS.BusinessService.MasterDatas.HospitalBaseAopImportService,DMS.BusinessService" singleton="false"/>
  <!--教程文件维护-->
  <object id="MasterDatas.OperationManualManage_Service" type="DMS.BusinessService.MasterDatas.OperationManualManageService,DMS.BusinessService" singleton="false"/>
  
  <!--经销商信息维护-->
  <object id="MasterDatas.DealerMaintainList_Service" type="DMS.BusinessService.MasterDatas.DealerMaintainListService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.DealerAttachDetail_Service" type="DMS.BusinessService.MasterDatas.DealerAttachDetailService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.DealerMasterEditor_Service" type="DMS.BusinessService.MasterDatas.DealerMasterEditorService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.DealerLicenseChange_Service" type="DMS.BusinessService.MasterDatas.DealerLicenseChangeService,DMS.BusinessService" singleton="false"/>

  <!--产品分类-->
  <object id="MasterDatas.PartsClsfcList_Service" type="DMS.BusinessService.MasterDatas.PartsClsfcListService,DMS.BusinessService" singleton="false"/>

  <!--进效期折扣规则-->
  <object id="MasterDatas.OrderDiscountRule_Service" type="DMS.BusinessService.MasterDatas.OrderDiscountRuleService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.OrderDiscountRuleImport_Service" type="DMS.BusinessService.MasterDatas.OrderDiscountRuleImportService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.ConsignmentMasterList_Service" type="DMS.BusinessService.MasterDatas.ConsignmentMasterListService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.ConsignmentMasterListInfo_Service" type="DMS.BusinessService.MasterDatas.ConsignmentMasterListInfoService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.ConsignmentMasterSetUpnPicker_Service" type="DMS.BusinessService.MasterDatas.ConsignmentMasterSetUpnPickerService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.ConsignmentMasterUpnPicker_Service" type="DMS.BusinessService.MasterDatas.ConsignmentMasterUpnPickerService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.ConsignmentMasterDealerPicker_Service" type="DMS.BusinessService.MasterDatas.ConsignmentMasterDealerPickerService,DMS.BusinessService" singleton="false"/>


  <!--经销商授权-->
  <object id="MasterDatas.DealerContractList_Service" type="DMS.BusinessService.MasterDatas.DealerContractListService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.DealerContractEditor_Service" type="DMS.BusinessService.MasterDatas.DealerContractEditorService,DMS.BusinessService" singleton="false"/>

  <object id="Transfer.TransferEditor_Service" type="DMS.BusinessService.Transfer.TransferEditorService,DMS.BusinessService" singleton="false"/>
  <object id="Transfer.TransferEditorInfo_Service" type="DMS.BusinessService.Transfer.TransferEditorInfoService,DMS.BusinessService" singleton="false"/>
  <object id="Transfer.TransferList_Service" type="DMS.BusinessService.Transfer.TransferListService,DMS.BusinessService" singleton="false"/>
  <object id="Transfer.TransferListInfo_Service" type="DMS.BusinessService.Transfer.TransferListInfoService,DMS.BusinessService" singleton="false"/>
  <object id="Transfer.TransferEditorPicker_Service" type="DMS.BusinessService.Transfer.TransferEditorPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Transfer.TransferEditorImport_Service" type="DMS.BusinessService.Transfer.TransferEditorImportService,DMS.BusinessService" singleton="false"/>
  <object id="Transfer.TransferDistributionList_Service" type="DMS.BusinessService.Transfer.TransferDistributionListService,DMS.BusinessService" singleton="false"/>
  <object id="Transfer.TransferListImport_Service" type="DMS.BusinessService.Transfer.TransferListImportService,DMS.BusinessService" singleton="false"/>
  <object id="Transfer.TransferInfoReason_Service" type="DMS.BusinessService.Transfer.TransferInfoReasonService,DMS.BusinessService" singleton="false"/>
  
  <!--订单管理-->
  <object id="Order.OrderApply_Service" type="DMS.BusinessService.Order.OrderApplyService,DMS.BusinessService" singleton="false"/>
  <object id="Order.OrderApplyLP_Service" type="DMS.BusinessService.Order.OrderApplyLPService,DMS.BusinessService" singleton="false"/>
  <object id="Order.OrderApplyInfo_Service" type="DMS.BusinessService.Order.OrderApplyInfoService,DMS.BusinessService" singleton="false"/>
  <object id="Order.OrderImport_Service" type="DMS.BusinessService.Order.OrderImportService,DMS.BusinessService" singleton="false"/>
  <object id="Order.OrderCfnDialogPicker_Service" type="DMS.BusinessService.Order.OrderCfnDialogPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Order.OrderCfnDialogT2PROPicker_Service" type="DMS.BusinessService.Order.OrderCfnDialogT2PROPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Order.OrderT2CfnSetDialogPicker_Service" type="DMS.BusinessService.Order.OrderT2CfnSetDialogPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Order.CfnnotorderInfo_Service" type="DMS.BusinessService.Order.CfnnotorderInfoService,DMS.BusinessService" singleton="false"/>
  <object id="Order.OrderApplyLPImport_Service" type="DMS.BusinessService.Order.OrderApplyLPImportService,DMS.BusinessService" singleton="false"/>
  <object id="Order.OrderApplyLPInfo_Service" type="DMS.BusinessService.Order.OrderApplyLPInfoService,DMS.BusinessService" singleton="false"/>
  <object id="Order.OrderHospitalPicker_Service" type="DMS.BusinessService.Order.OrderHospitalPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Order.OrderCfnDialogLPPROPicker_Service" type="DMS.BusinessService.Order.OrderCfnDialogLPPROPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Order.OrderCfnDialogLPPicker_Service" type="DMS.BusinessService.Order.OrderCfnDialogLPPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Order.OrderCfnSetDialogLPPicker_Service" type="DMS.BusinessService.Order.OrderCfnSetDialogLPPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Order.BatchOrderInit_Service" type="DMS.BusinessService.Order.BatchOrderInitService,DMS.BusinessService" singleton="false"/>
  
  
  <!--销售出库单-->
  <object id="Shipment.ShipmentList_Service" type="DMS.BusinessService.Shipment.ShipmentListService,DMS.BusinessService" singleton="false"/>
  <object id="Shipment.ShipmentPrintSetting_Service" type="DMS.BusinessService.Shipment.ShipmentPrintSettingService,DMS.BusinessService" singleton="false"/>
  <object id="Shipment.ShipmentInitList_Service" type="DMS.BusinessService.Shipment.ShipmentInitListService,DMS.BusinessService" singleton="false"/>

  <!--寄售总量规则维护-->
  <object id="Consign.ConsignCountManage_Service" type="DMS.BusinessService.Consign.ConsignCountManageService,DMS.BusinessService" singleton="false"/>
  <!--岗位和医院对应关系-->
  <object id="MasterDatas.PositionHospital_Service" type="DMS.BusinessService.MasterDatas.PositionHospitalService,DMS.BusinessService" singleton="false"/>
  <!--搜索医院-->
  <object id="MasterDatas.HospitalPicker_Service" type="DMS.BusinessService.MasterDatas.HospitalPickerService,DMS.BusinessService" singleton="false"/>
  <!--经销商价格维护-->
  <object id="MasterDatas.OrderDealerPrice_Service" type="DMS.BusinessService.MasterDatas.OrderDealerPriceService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.OrderDealerPriceImport_Service" type="DMS.BusinessService.MasterDatas.OrderDealerPriceImportService,DMS.BusinessService" singleton="false"/>
  <!--平台接口-->
  <object id="DataInterface.InterfaceLogList_Service" type="DMS.BusinessService.DataInterface.InterfaceLogListService,DMS.BusinessService" singleton="false"/>
  <object id="DataInterface.InterfaceDataList_Service" type="DMS.BusinessService.DataInterface.InterfaceDataListService,DMS.BusinessService" singleton="false"/>
  <!--经销商披露-->
  <object id="Contract.ContractMain_Service" type="DMS.BusinessService.Contract.ContractMainService,DMS.BusinessService" singleton="false"/>
  <object id="Contract.ContractThirdPartyV2_Service" type="DMS.BusinessService.Contract.ContractThirdPartyV2Service,DMS.BusinessService" singleton="false"/>
  <object id="Contract.ThirdPartyQueryForGenesis_Service" type="DMS.BusinessService.Contract.ThirdPartyQueryForGenesisService,DMS.BusinessService" singleton="false"/>

  <!--经销商非正式授权-->
  <object id="Contract.TenderAuthorizationList_Service" type="DMS.BusinessService.Contract.TenderAuthorizationService,DMS.BusinessService" singleton="false"/>
  <object id="Contract.HospitalPicker_Service" type="DMS.BusinessService.Contract.HospitalPickerService,DMS.BusinessService" singleton="false"/>
  <object id="Contract.TenderAuthorizationInfo_Service" type="DMS.BusinessService.Contract.TenderAuthorizationInfoService,DMS.BusinessService" singleton="false"/>
  
  <!--合同附件-->
  <object id="Contract.MergeAttachment_Service" type="DMS.BusinessService.Contract.MergeAttachmentService,DMS.BusinessService" singleton="false"/>
  
  <!--经销商产品查询-->
  <object id="DCM.DealerProductSearch_Service" type="DMS.BusinessService.DCM.DealerProductSearchService,DMS.BusinessService" singleton="false"/>
  
  <!--指标查询-->
  <object id="AOP.DealerAOPSearch_Service" type="DMS.BusinessService.AOP.DealerAOPSearchService,DMS.BusinessService" singleton="false"/>
  <object id="AOP.HospitalAOPSearch_Service" type="DMS.BusinessService.AOP.HospitalAOPSearchService,DMS.BusinessService" singleton="false"/>
  
  <!--后台操作日志-->
  <object id="Log.Lafite_LogList_Service" type="DMS.BusinessService.Log.Lafite_LogListService,DMS.BusinessService" singleton="false"/>
  
  <!--经销商通告-->
  <object id="DCM.BulletinManage_Service" type="DMS.BusinessService.DCM.BulletinManageService,DMS.BusinessService" singleton="false"/>
  
  <!--第三方上传背调-->
  <object id="MasterDatas.DealerMaintainListForDD_Service" type="DMS.BusinessService.MasterDatas.DealerMaintainListForDDService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.DealerAttachDetailForDD_Service" type="DMS.BusinessService.MasterDatas.DealerAttachDetailForDDService,DMS.BusinessService" singleton="false"/>
  
   <!--用户信息维护-->
  <object id="MasterDatas.UserList_Service" type="DMS.BusinessService.MasterDatas.UserListService,DMS.BusinessService" singleton="false"/>
  <!--区域维护-->
  <object id="MasterDatas.TerritoryList_Service" type="DMS.BusinessService.MasterDatas.TerritoryListService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.TerritoryEditor_Service" type="DMS.BusinessService.MasterDatas.TerritoryEditorService,DMS.BusinessService" singleton="false"/>
  <!--经销商密码重置-->
  <object id="HCPPassport.DealerAccountResetPWD_Service" type="DMS.BusinessService.HCPPassport.DealerAccountResetPWDService,DMS.BusinessService" singleton="false"/>
  <!--蓝威报表start-->
  <object id="Report.DealerOrderDetail_Service" type="DMS.BusinessService.Report.DealerOrderDetailService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerInvAdjust_Service" type="DMS.BusinessService.Report.DealerInvAdjustService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerBuyIn_Service" type="DMS.BusinessService.Report.DealerBuyInService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerTransfer_Service" type="DMS.BusinessService.Report.DealerTransferService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerTransferIn_Service" type="DMS.BusinessService.Report.DealerTransferInService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerTransferOut_Service" type="DMS.BusinessService.Report.DealerTransferOutService,DMS.BusinessService" singleton="false"/>
  <object id="Report.ProductOperationLog_Service" type="DMS.BusinessService.Report.ProductOperationLogService,DMS.BusinessService" singleton="false"/>

  <object id="Report.AOPDealerReport_Service" type="DMS.BusinessService.Report.AOPDealerReportService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerHistoryInvDetail_Service" type="DMS.BusinessService.Report.DealerHistoryInvDetailService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerJXCSummary_Service" type="DMS.BusinessService.Report.DealerJXCSummaryService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerOperationDays_Service" type="DMS.BusinessService.Report.DealerOperationDaysService,DMS.BusinessService" singleton="false"/>
  <object id="Report.SalesAOP_Service" type="DMS.BusinessService.Report.SalesAOPService,DMS.BusinessService" singleton="false"/>
  <object id="Report.SalesHospitalReport_Service" type="DMS.BusinessService.Report.SalesHospitalReportService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerQuota_Service" type="DMS.BusinessService.Report.DealerQuotaService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerHospitalQuota_Service" type="DMS.BusinessService.Report.DealerHospitalQuotaService,DMS.BusinessService" singleton="false"/>
  <object id="Report.DealerContract_Service" type="DMS.BusinessService.Report.DealerContractService,DMS.BusinessService" singleton="false"/>
  <!--蓝威报表end-->
  <!--用量日期-->
  <object id="MasterDatas.MasterDatasList_Service" type="DMS.BusinessService.MasterDatas.MasterDatasListService,DMS.BusinessService" singleton="false"/>
  <object id="MasterDatas.MasterDatasInfo_Service" type="DMS.BusinessService.MasterDatas.MasterDatasInfoService,DMS.BusinessService" singleton="false"/>
</objects>