<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <!--Start Util-->
  <object id="Util.DealerFilter_VO" type="DMS.ViewModel.Util.FilterVO,DMS.ViewModel" singleton="false"/>
  <object id="Util.EmployeeFilter_VO" type="DMS.ViewModel.Util.FilterVO,DMS.ViewModel" singleton="false"/>
  <object id="Util.HospitalFilter_VO" type="DMS.ViewModel.Util.FilterVO,DMS.ViewModel" singleton="false"/>
  <object id="Util.DealerScreenFilter_VO" type="DMS.ViewModel.Util.DealerScreenFilterVO,DMS.ViewModel" singleton="false"/>
  <!--DataImport-->
  <object id="DataImport.DataImportErrorList_VO" type="DMS.ViewModel.Util.DataImport.DataImportErrorListVO,DMS.ViewModel" singleton="false"/>
  <object id="DataImport.DataImportDetailList_VO" type="DMS.ViewModel.Util.DataImport.DataImportDetailListVO,DMS.ViewModel" singleton="false"/>
  <!--End   Util-->
  
  <!--Start 首页-->
  <object id="Home_VO" type="DMS.ViewModel.HomeVO,DMS.ViewModel" singleton="false"/>
  <!--End   首页-->

  <!--Start Dashboard-->
  <object id="Dashboard.DealerPage_VO" type="DMS.ViewModel.Dashboard.DealerPageVO,DMS.ViewModel" singleton="false"/>
  <object id="Dashboard.AdminPage_VO" type="DMS.ViewModel.Dashboard.AdminPageVO,DMS.ViewModel" singleton="false"/>
  <!--End   Dashboard-->

  <!--Start Platform-->
  <object id="Platform.BulletinRead_VO" type="DMS.ViewModel.Platform.BulletinReadVO,DMS.ViewModel" singleton="false"/>
  <!--End   Platform-->

  <!--Start 寄售合同管理-->
  <!--Common-->
  <object id="Consign.ConsignCommon_VO" type="DMS.ViewModel.SimpleVO,DMS.ViewModel" singleton="false"/>
  <!--寄售合同-->
  <object id="Consign.ConsignContractList_VO" type="DMS.ViewModel.Consign.ConsignContractListVO,DMS.ViewModel" singleton="false"/>
  <object id="Consign.ConsignContractInfo_VO" type="DMS.ViewModel.Consign.ConsignContractInfoVO,DMS.ViewModel" singleton="false"/>
  <!--寄售合同申请-->
  <object id="Consign.ConsignApplyList_VO" type="DMS.ViewModel.Consign.ConsignApplyListVO,DMS.ViewModel" singleton="false"/>
  <object id="Consign.ConsignUpnPicker_VO" type="DMS.ViewModel.Consign.ConsignUpnPickerVO,DMS.ViewModel" singleton="false"/>
  <!--寄售合同终止-->
  <object id="Consign.ConsignmentTerminationList_VO" type="DMS.ViewModel.Consign.ConsignmentTerminationListVO,DMS.ViewModel" singleton="false"/>
  <object id="Consign.ConsignmentTerminationInfo_VO" type="DMS.ViewModel.Consign.ConsignmentTerminationInfoVO,DMS.ViewModel" singleton="false"/>
  <!--寄售买断-->
  <object id="Consign.ConsignInventoryAdjustHeaderList_VO" type="DMS.ViewModel.Consign.ConsignInventoryAdjustHeaderListVO,DMS.ViewModel" singleton="false"/>
  <object id="Consign.ConsignInventoryAdjustHeaderInfo_VO" type="DMS.ViewModel.Consign.ConsignInventoryAdjustHeaderInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="Consign.ConsignInventoryAdjustPicker_VO" type="DMS.ViewModel.Consign.ConsignInventoryAdjustPickerVO,DMS.ViewModel" singleton="false"/>
  <!--寄售转移-->
  <object id="Consign.ConsignTransferList_VO" type="DMS.ViewModel.Consign.ConsignTransferListVO,DMS.ViewModel" singleton="false"/>
  <object id="Consign.ConsignTransferInfo_VO" type="DMS.ViewModel.Consign.ConsignTransferInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="Consign.ConsignTransferConfirm_VO" type="DMS.ViewModel.Consign.ConsignTransferConfirmVO,DMS.ViewModel" singleton="false"/>
  <object id="Consign.ContractUpnPicker_VO" type="DMS.ViewModel.Consign.ContractUpnPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Consign.ConsignmentTransferInit_VO" type="DMS.ViewModel.Consign.ConsignmentTransferInitVO,DMS.ViewModel" singleton="false"/>
  <!--End   寄售合同管理-->

  <!--Start 经销商报表-->
  <!--Common-->
  <!--<object id="Consign.ConsignCommon_VO" type="DMS.ViewModel.SimpleVO,DMS.ViewModel" singleton="false"/>-->
  <!--经销商销售报表-->
  <object id="Report.DealerSalesReport_New_VO" type="DMS.ViewModel.Report.DealerSalesReport_NewVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerAuthCate_New_VO" type="DMS.ViewModel.Report.DealerAuthCate_NewVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerOrderDetailReport_New_VO" type="DMS.ViewModel.Report.DealerOrderDetailReport_NewVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.OrderSalesSummaryInMonthReport_New_VO" type="DMS.ViewModel.Report.OrderSalesSummaryInMonthReport_NewVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.HospitalReport_New_VO" type="DMS.ViewModel.Report.HospitalReport_NewVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerBuyInReport_New_VO" type="DMS.ViewModel.Report.DealerBuyInReport_NewVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.OrderStatusReport_New_VO" type="DMS.ViewModel.Report.OrderStatusReport_NewVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerTransferReport_New_VO" type="DMS.ViewModel.Report.DealerTransferReport_NewVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerInventoryHistoryReport_New_VO" type="DMS.ViewModel.Report.DealerInventoryHistoryReport_NewVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerSalesStatistics_New_VO" type="DMS.ViewModel.Report.DealerSalesStatistics_NewVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.ProductOperationLogReport_New_VO" type="DMS.ViewModel.Report.ProductOperationLogReport_NewVO,DMS.ViewModel" singleton="false"/>
  <!--End   经销商报表-->
  
  <!--组套产品-->
  <object id="MasterPage.DealerSpecialUPNList_VO" type="DMS.ViewModel.MasterPage.DealerSpecialUPNListVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterPage.DealerSpecialUPNInfo_VO" type="DMS.ViewModel.MasterPage.DealerSpecialUPNInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterPage.DealerSpecialUPNPicker_VO" type="DMS.ViewModel.MasterPage.DealerSpecialUPNPickerVO,DMS.ViewModel" singleton="false"/>

  <!--OBOR电子签章-->
  <object id="OBORESign.OBORESignList_VO" type="DMS.ViewModel.OBORESign.OBORESignListVO,DMS.ViewModel" singleton="false"/>
  <object id="OBORESign.OBORESignInfo_VO" type="DMS.ViewModel.OBORESign.OBORESignInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="OBORESign.OBORContractWindow_VO" type="DMS.ViewModel.OBORESign.OBORContractWindowVO,DMS.ViewModel" singleton="false"/>
  <object id="OBORESign.OBORVerificationCode_VO" type="DMS.ViewModel.OBORESign.OBORVerificationCodeVO,DMS.ViewModel" singleton="false"/>
  
  <!--HCP Passport-->
  <object id="HCPPassport.DealerAccountList_VO" type="DMS.ViewModel.HCPPassport.DealerAccountListVO,DMS.ViewModel" singleton="false"/>
  <object id="HCPPassport.DealerAccountInfo_VO" type="DMS.ViewModel.HCPPassport.DealerAccountInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="HCPPassport.DealerAccountPicker_VO" type="DMS.ViewModel.HCPPassport.DealerAccountPickerVO,DMS.ViewModel" singleton="false"/>

  <!--库存管理-->
  <object id="Inventory.InventoryAdjustConsignment_VO" type="DMS.ViewModel.Inventory.InventoryAdjustConsignmentVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.InventoryAdjustList_VO" type="DMS.ViewModel.Inventory.InventoryAdjustListVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.InventoryAdjustAuditImport_VO" type="DMS.ViewModel.Inventory.InventoryAdjustAuditImportVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.InventoryAdjustConsignmentInfo_VO" type="DMS.ViewModel.Inventory.InventoryAdjustConsignmentInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.InventoryAdjustList_New_VO" type="DMS.ViewModel.Inventory.InventoryAdjustList_NewVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.QueryInventoryPage_VO" type="DMS.ViewModel.Inventory.QueryInventoryPageVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.WarehouseMaint_VO" type="DMS.ViewModel.Inventory.WarehouseMaintVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.WarehouseEditor_VO" type="DMS.ViewModel.Inventory.WarehouseEditorVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.WHSearchHospital_VO" type="DMS.ViewModel.Inventory.WHSearchHospitalVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.InventoryReturn_VO" type="DMS.ViewModel.Inventory.InventoryReturnVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.InventoryReturnInfo_VO" type="DMS.ViewModel.Inventory.InventoryReturnInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.InventoryReturnImport_VO" type="DMS.ViewModel.Inventory.InventoryReturnImportVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.InventoryReturnConsignmentImport_VO" type="DMS.ViewModel.Inventory.InventoryReturnConsignmentImportVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.InventoryReturnInfoPicker_VO" type="DMS.ViewModel.Inventory.InventoryReturnInfoPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.QueryInventoryPrice_VO" type="DMS.ViewModel.Inventory.QueryInventoryPriceVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.InventoryInit_VO" type="DMS.ViewModel.MasterDatas.InventoryInitVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.ReturnPositionSearch_VO" type="DMS.ViewModel.Inventory.ReturnPositionSearchVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.InventoryAdjustListMtrPicker_VO" type="DMS.ViewModel.Inventory.InventoryAdjustListMtrPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Transfer.TransferUnfreeze_VO" type="DMS.ViewModel.Transfer.TransferUnfreezeVO,DMS.ViewModel" singleton="false"/>
  <object id="Transfer.TransferListImport_VO" type="DMS.ViewModel.Transfer.TransferListImportVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.InventoryQROperation_VO" type="DMS.ViewModel.Inventory.InventoryQROperationVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.InventoryImport_VO" type="DMS.ViewModel.Inventory.InventoryImportVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.InventoryInit_VO" type="DMS.ViewModel.Inventory.InventoryInitVO,DMS.ViewModel" singleton="false"/>
  <object id="Inventory.InventoryAdjustAudit_VO" type="DMS.ViewModel.Inventory.InventoryAdjustAuditVO,DMS.ViewModel" singleton="false"/>
  <!--End 库存管理-->

  <!--寄售管理-->
  <object id="Consignment.ConsignmentApplyHeaderList_VO" type="DMS.ViewModel.Consignment.ConsignmentApplyHeaderListVO,DMS.ViewModel" singleton="false"/>
  <object id="Consignment.HospitalPicker_VO" type="DMS.ViewModel.Consignment.HospitalPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Consignment.ReturnUpnPicker_VO" type="DMS.ViewModel.Consignment.ReturnUpnPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Consignment.ConsignmentUpnPicker_VO" type="DMS.ViewModel.Consignment.ConsignmentUpnPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Consignment.ConsignmentPicker_VO" type="DMS.ViewModel.Consignment.ConsignmentPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.ConsignmentAuthorizationList_VO" type="DMS.ViewModel.MasterDatas.ConsignmentAuthorizationListVO,DMS.ViewModel" singleton="false"/>
  <object id="Consignment.ConsignmentApplyHeaderInfo_VO" type="DMS.ViewModel.Consignment.ConsignmentApplyHeaderInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="Consignment.ConsignmentReturnsPicker_VO" type="DMS.ViewModel.Consignment.ConsignmentReturnsPickerVO,DMS.ViewModel" singleton="false"/>
  
  <!--End -->

  <!--收货管理-->
  <object id="POReceipt.DeliveryNoteList_VO"  type="DMS.ViewModel.POReceipt.DeliveryNoteListVO,DMS.ViewModel" singleton="false"/>
  <object id="POReceipt.POReceiptList_VO"  type="DMS.ViewModel.POReceipt.POReceiptListVO,DMS.ViewModel" singleton="false"/>
  <object id="POReceipt.POReceiPtImport_VO"  type="DMS.ViewModel.POReceipt.POReceiPtImportVO,DMS.ViewModel" singleton="false"/>
  <object id="POReceipt.POReceiptListInfo_VO"  type="DMS.ViewModel.POReceipt.POReceiptListInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="POReceipt.POReceiptDeliveryImport_VO" type="DMS.ViewModel.POReceipt.POReceiptDeliveryImportVO,DMS.ViewModel" singleton="false"/>
  <!--End-->
  
  <!--个人信息-->
  <object id="Inventory.DealerComplainForGoodsRetrunCRM_VO" type="DMS.ViewModel.Inventory.DealerComplainForGoodsRetrunCRMVO,DMS.ViewModel" singleton="false"/>
  <object id="MyInfo_VO" type="DMS.ViewModel.MyInfoVO,DMS.ViewModel" singleton="false"/>

  <!--修改密码-->
  <object id="ChangePassword_VO" type="DMS.ViewModel.ChangePasswordVO,DMS.ViewModel" singleton="false"/>

  <!--经销商销售维护-->
  <object id="DealerTrain.SalesUserManage_VO" type="DMS.ViewModel.DealerTrain.SalesUserManageVO,DMS.ViewModel" singleton="false"/>
  <object id="DealerTrain.SalesUserImport_VO" type="DMS.ViewModel.DealerTrain.SalesUserImportVO,DMS.ViewModel" singleton="false"/>

  <!--成套产品维护-->
  <object id="MasterDatas.CfnSetList_VO" type="DMS.ViewModel.MasterDatas.CfnSetListVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.CfnSetInfo_VO" type="DMS.ViewModel.MasterDatas.CfnSetInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.CfnSetCFN_VO" type="DMS.ViewModel.MasterDatas.CfnSetCFNVO,DMS.ViewModel" singleton="false"/>

  <!--寄售成套产品维护-->
  <object id="MasterDatas.ConsignmentCfnSetList_VO" type="DMS.ViewModel.MasterDatas.ConsignmentCfnSetListVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.ConsignmentCfnSetInfo_VO" type="DMS.ViewModel.MasterDatas.ConsignmentCfnSetInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.ConsignmentCfnSetCFN_VO" type="DMS.ViewModel.MasterDatas.ConsignmentCfnSetCFNVO,DMS.ViewModel" singleton="false"/>
  
  <!--医院信息维护-->
  <object id="MasterDatas.HospitalList_VO" type="DMS.ViewModel.MasterDatas.HospitalListVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.HospitalEditor_VO" type="DMS.ViewModel.MasterDatas.HospitalEditorVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.HospitalBaseAop_VO" type="DMS.ViewModel.MasterDatas.HospitalBaseAopVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.HospitalBaseAopImport_VO" type="DMS.ViewModel.MasterDatas.HospitalBaseAopImportVO,DMS.ViewModel" singleton="false"/>
  
  <!--教程文件维护-->
  <object id="MasterDatas.OperationManualManage_VO" type="DMS.ViewModel.MasterDatas.OperationManualManageVO,DMS.ViewModel" singleton="false"/>

  <!--经销商信息维护-->
  <object id="MasterDatas.DealerMaintainList_VO" type="DMS.ViewModel.MasterDatas.DealerMaintainListVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.DealerAttachDetail_VO" type="DMS.ViewModel.MasterDatas.DealerAttachDetailVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.DealerMasterEditor_VO" type="DMS.ViewModel.MasterDatas.DealerMasterEditorVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.DealerLicenseChange_VO" type="DMS.ViewModel.MasterDatas.DealerLicenseChangeVO,DMS.ViewModel" singleton="false"/>
  
  <!--产品分类-->
  <object id="MasterDatas.PartsClsfcList_VO" type="DMS.ViewModel.MasterDatas.PartsClsfcListVO,DMS.ViewModel" singleton="false"/>
  
  <!--进效期折扣规则-->
  <object id="MasterDatas.OrderDiscountRule_VO" type="DMS.ViewModel.MasterDatas.OrderDiscountRuleVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.OrderDiscountRuleImport_VO" type="DMS.ViewModel.MasterDatas.OrderDiscountRuleImportVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.ConsignmentMasterList_VO" type="DMS.ViewModel.MasterDatas.ConsignmentMasterListVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.ConsignmentMasterListInfo_VO" type="DMS.ViewModel.MasterDatas.ConsignmentMasterListInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.ConsignmentMasterSetUpnPicker_VO" type="DMS.ViewModel.MasterDatas.ConsignmentMasterSetUpnPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.ConsignmentMasterUpnPicker_VO" type="DMS.ViewModel.MasterDatas.ConsignmentMasterUpnPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.ConsignmentMasterDealerPicker_VO" type="DMS.ViewModel.MasterDatas.ConsignmentMasterDealerPickerVO,DMS.ViewModel" singleton="false"/>
 
  
  <!--经销商授权-->
  <object id="MasterDatas.DealerContractList_VO" type="DMS.ViewModel.MasterDatas.DealerContractListVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.DealerContractEditor_VO" type="DMS.ViewModel.MasterDatas.DealerContractEditorVO,DMS.ViewModel" singleton="false"/>

  <object id="Transfer.TransferEditor_VO" type="DMS.ViewModel.Transfer.TransferEditorVO,DMS.ViewModel" singleton="false"/>
  <object id="Transfer.TransferEditorInfo_VO" type="DMS.ViewModel.Transfer.TransferEditorInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="Transfer.TransferList_VO" type="DMS.ViewModel.Transfer.TransferListVO,DMS.ViewModel" singleton="false"/>
  <object id="Transfer.TransferListInfo_VO" type="DMS.ViewModel.Transfer.TransferListInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="Transfer.TransferEditorPicker_VO" type="DMS.ViewModel.Transfer.TransferEditorPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Transfer.TransferEditorImport_VO" type="DMS.ViewModel.Transfer.TransferEditorImportVO,DMS.ViewModel" singleton="false"/>
  <object id="Transfer.TransferDistributionList_VO" type="DMS.ViewModel.Transfer.TransferDistributionListVO,DMS.ViewModel" singleton="false"/>
  <object id="Transfer.TransferInfoReason_VO" type="DMS.ViewModel.Transfer.TransferInfoReasonVO,DMS.ViewModel" singleton="false"/>
  
  <!--订单管理-->
  <object id="Order.OrderApply_VO" type="DMS.ViewModel.Order.OrderApplyVO,DMS.ViewModel" singleton="false"/>
  <object id="Order.OrderApplyLP_VO" type="DMS.ViewModel.Order.OrderApplyLPVO,DMS.ViewModel" singleton="false"/>
  <object id="Order.OrderApplyInfo_VO" type="DMS.ViewModel.Order.OrderApplyInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="Order.OrderImport_VO" type="DMS.ViewModel.Order.OrderImportVO,DMS.ViewModel" singleton="false"/>
  <object id="Order.OrderCfnDialogPicker_VO" type="DMS.ViewModel.Order.OrderCfnDialogPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Order.OrderCfnDialogT2PROPicker_VO" type="DMS.ViewModel.Order.OrderCfnDialogT2PROPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Order.OrderT2CfnSetDialogPicker_VO" type="DMS.ViewModel.Order.OrderT2CfnSetDialogPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Order.CfnnotorderInfo_VO" type="DMS.ViewModel.Order.CfnnotorderInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="Order.OrderApplyLPImport_VO" type="DMS.ViewModel.Order.OrderApplyLPImportVO,DMS.ViewModel" singleton="false"/>
  <object id="Order.OrderApplyLPInfo_VO" type="DMS.ViewModel.Order.OrderApplyLPInfoVO,DMS.ViewModel" singleton="false"/>
  <object id="Order.OrderHospitalPicker_VO" type="DMS.ViewModel.Order.OrderHospitalPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Order.OrderCfnDialogLPPROPicker_VO" type="DMS.ViewModel.Order.OrderCfnDialogLPPROPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Order.OrderCfnDialogLPPicker_VO" type="DMS.ViewModel.Order.OrderCfnDialogLPPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Order.OrderCfnSetDialogLPPicker_VO" type="DMS.ViewModel.Order.OrderCfnSetDialogLPPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Order.BatchOrderInit_VO" type="DMS.ViewModel.Order.BatchOrderInitVO,DMS.ViewModel" singleton="false"/>
  

  <!--销售出库单-->
  <object id="Shipment.ShipmentList_VO" type="DMS.ViewModel.Shipment.ShipmentListVO,DMS.ViewModel" singleton="false"/>
  <object id="Shipment.ShipmentPrintSetting_VO" type="DMS.ViewModel.Shipment.ShipmentPrintSettingVO,DMS.ViewModel" singleton="false"/>
  <object id="Shipment.ShipmentInitList_VO" type="DMS.ViewModel.Shipment.ShipmentInitListVO,DMS.ViewModel" singleton="false"/>

  <!--寄售总量规则维护-->
  <object id="Consign.ConsignCountManage_VO" type="DMS.ViewModel.Consign.ConsignCountManageVO,DMS.ViewModel" singleton="false"/>

  <!--岗位和医院对应关系-->
  <object id="MasterDatas.PositionHospital_VO" type="DMS.ViewModel.MasterDatas.PositionHospitalVO,DMS.ViewModel" singleton="false"/>
  <!--搜索医院-->
  <object id="MasterDatas.HospitalPicker_VO" type="DMS.ViewModel.MasterDatas.HospitalPickerVO,DMS.ViewModel" singleton="false"/>
  <!--经销商价格维护-->
  <object id="MasterDatas.OrderDealerPrice_VO" type="DMS.ViewModel.MasterDatas.OrderDealerPriceVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.OrderDealerPriceImport_VO" type="DMS.ViewModel.MasterDatas.OrderDealerPriceImportVO,DMS.ViewModel" singleton="false"/>
  
  <!--平台接口-->
  <object id="DataInterface.InterfaceLogList_VO" type="DMS.ViewModel.DataInterface.InterfaceLogListVO,DMS.ViewModel" singleton="false"/>
  <object id="DataInterface.InterfaceDataList_VO" type="DMS.ViewModel.DataInterface.InterfaceDataListVO,DMS.ViewModel" singleton="false"/>
  
  <!--经销商披露-->
  <object id="Contract.ContractMain_VO" type="DMS.ViewModel.Contract.ContractMainVO,DMS.ViewModel" singleton="false"/>
  <object id="Contract.ContractThirdPartyV2_VO" type="DMS.ViewModel.Contract.ContractThirdPartyV2VO,DMS.ViewModel" singleton="false"/>
  <object id="Contract.ThirdPartyQueryForGenesis_VO" type="DMS.ViewModel.Contract.ThirdPartyQueryForGenesisVO,DMS.ViewModel" singleton="false"/>

  <!--经销商非正式授权-->
  <object id="Contract.TenderAuthorizationList_VO" type="DMS.ViewModel.Contract.TenderAuthorizationVO,DMS.ViewModel" singleton="false"/>
  <object id="Contract.HospitalPicker_VO" type="DMS.ViewModel.Contract.HospitalPickerVO,DMS.ViewModel" singleton="false"/>
  <object id="Contract.TenderAuthorizationInfo_VO" type="DMS.ViewModel.Contract.TenderAuthorizationInfoVO,DMS.ViewModel" singleton="false"/>
 
  <!--合同附件-->
  <object id="Contract.MergeAttachment_VO" type="DMS.ViewModel.Contract.MergeAttachmentVO,DMS.ViewModel" singleton="false"/>
  
  <!--经销商产品查询-->
  <object id="DCM.DealerProductSearch_VO" type="DMS.ViewModel.DCM.DealerProductSearchVO,DMS.ViewModel" singleton="false"/>
  
  <!--指标查询-->
  <object id="AOP.DealerAOPSearch_VO" type="DMS.ViewModel.AOP.DealerAOPSearchVO,DMS.ViewModel" singleton="false"/>
  <object id="AOP.HospitalAOPSearch_VO" type="DMS.ViewModel.AOP.HospitalAOPSearchVO,DMS.ViewModel" singleton="false"/>
  
  <!--后台操作日志-->
  <object id="Log.Lafite_LogList_VO" type="DMS.ViewModel.Log.Lafite_LogListVO,DMS.ViewModel" singleton="false"/>

  <!--经销商通告-->
  <object id="DCM.BulletinManage_VO" type="DMS.ViewModel.DCM.BulletinManageVO,DMS.ViewModel" singleton="false"/>

  <!--第三方上传背调报告-->
  <object id="MasterDatas.DealerMaintainListForDD_VO" type="DMS.ViewModel.MasterDatas.DealerMaintainListForDDVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.DealerAttachDetailForDD_VO" type="DMS.ViewModel.MasterDatas.DealerAttachDetailForDDVO,DMS.ViewModel" singleton="false"/>
  
    <!--人员信息维护-->
  <object id="MasterDatas.UserList_VO" type="DMS.ViewModel.MasterDatas.UserListVO,DMS.ViewModel" singleton="false"/>

  <!--区域维护-->  
  <object id="MasterDatas.TerritoryList_VO" type="DMS.ViewModel.MasterDatas.TerritoryListVO,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.TerritoryEditor_VO" type="DMS.ViewModel.MasterDatas.TerritoryEditorVO,DMS.ViewModel" singleton="false"/>
  <!--经销商密码重置-->
  <object id="HCPPassport.DealerAccountResetPWD_VO" type="DMS.ViewModel.HCPPassport.DealerAccountResetPWDVO,DMS.ViewModel" singleton="false"/>
  <!--蓝威报表start-->
  <object id="Report.DealerOrderDetail_VO" type="DMS.ViewModel.Report.DealerOrderDetailVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerInvAdjust_VO" type="DMS.ViewModel.Report.DealerInvAdjustVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerBuyIn_VO" type="DMS.ViewModel.Report.DealerBuyInVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerTransfer_VO" type="DMS.ViewModel.Report.DealerTransferVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerTransferIn_VO" type="DMS.ViewModel.Report.DealerTransferInVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerTransferOut_VO" type="DMS.ViewModel.Report.DealerTransferOutVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.ProductOperationLog_VO" type="DMS.ViewModel.Report.ProductOperationLogVO,DMS.ViewModel" singleton="false"/>

  <object id="Report.AOPDealerReport_VO" type="DMS.ViewModel.Report.AOPDealerReportVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerHistoryInvDetail_VO" type="DMS.ViewModel.Report.DealerHistoryInvDetailVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerJXCSummary_VO" type="DMS.ViewModel.Report.DealerJXCSummaryVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerOperationDays_VO" type="DMS.ViewModel.Report.DealerOperationDaysVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.SalesAOP_VO" type="DMS.ViewModel.Report.SalesAOPVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.SalesHospitalReport_VO" type="DMS.ViewModel.Report.SalesHospitalReportVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerQuota_VO" type="DMS.ViewModel.Report.DealerQuotaVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerHospitalQuota_VO" type="DMS.ViewModel.Report.DealerHospitalQuotaVO,DMS.ViewModel" singleton="false"/>
  <object id="Report.DealerContract_VO" type="DMS.ViewModel.Report.DealerContractVO,DMS.ViewModel" singleton="false"/>
  <!--蓝威报表End-->
  <!--用量日期-->
  <object id="MasterDatas.MasterDatasList_VO" type="DMS.ViewModel.MasterDatas.MasterDatasListVo,DMS.ViewModel" singleton="false"/>
  <object id="MasterDatas.MasterDatasInfo_VO" type="DMS.ViewModel.MasterDatas.MasterDatasInfoVo,DMS.ViewModel" singleton="false"/>
  <!--报量对账-->
	<object id="MasterDatas.Extense.InvGoodsCfg_VO" type="DMS.ViewModel.MasterDatas.Extense.InvGoodsCfgVO,DMS.ViewModel" singleton="false"/>
	<object id="MasterDatas.Extense.InvGoodsCfgInit_VO" type="DMS.ViewModel.MasterDatas.Extense.InvGoodsCfgInitVO,DMS.ViewModel" singleton="false"/>
	<object id="Shipment.Extense.ReconcileRule_VO" type="DMS.ViewModel.Shipment.Extense.ReconcileRuleVO,DMS.ViewModel" singleton="false"/>
	<object id="Shipment.Extense.InvReconcile_VO" type="DMS.ViewModel.Shipment.Extense.InvReconcileSummaryVO,DMS.ViewModel" singleton="false"/>
	<!--医院发票映射-->
	<object id="MasterDatas.Extense.InvHospitalCfg_VO" type="DMS.ViewModel.MasterDatas.Extense.InvHospitalCfgVO,DMS.ViewModel" singleton="false"/>
	<object id="MasterDatas.Extense.InvHospitalCfgInit_VO" type="DMS.ViewModel.MasterDatas.Extense.InvHospitalCfgInitVO,DMS.ViewModel" singleton="false"/>
</objects>