<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DMS.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DMS.Business.Properties.Settings>
            <setting name="DMS_Business_EwfService_WfAction" serializeAs="String">
                <value>http://shaappten01/flow/Service/WfAction.asmx</value>
            </setting>
            <setting name="DMS_Business_EkpWebService_IntegratedWebServiceService"
                serializeAs="String">
                <value>http://192.168.91.22:8084/sys/webservice/flowWebService</value>
            </setting>
            <setting name="DMS_Business_kmReviewAddService_KmReviewAddServiceImpService"
                serializeAs="String">
                <value>http://47.103.49.242:8080/sys/webservice/kmReviewWebserviceService</value>
            </setting>
            <setting name="DMS_Business_kmReviewNodeService_IKmReviewNodeServiceService"
                serializeAs="String">
                <value>http://47.103.49.242:8080/sys/webservice/kmReviewNodeService</value>
            </setting>
        </DMS.Business.Properties.Settings>
    </applicationSettings>
</configuration>