<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DMS.ServiceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Database=BSC_DMS140717;Server=192.168.1.113\MSSQL2008R2;Integrated Security=false;user id=sa;password=Sh123456;connection timeout=120;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DMS.ServiceTest.Properties.Settings>
      <setting name="DMS_ServiceTest_ShareTracService_outlet" serializeAs="String">
        <value>http://bsc.vision-sh.com/outlet.asmx</value>
      </setting>
      <setting name="DMS_ServiceTest_BSCService_Service" serializeAs="String">
        <value>https://testdms.bscwin.com/services/BIInterface.asmx</value>
      </setting>
      <setting name="DMS_ServiceTest_HospitalService_Hospital" serializeAs="String">
        <value>http://localhost:8149/Hospital.asmx</value>
      </setting>
      <setting name="DMS_ServiceTest_PlatformService_Platform" serializeAs="String">
        <value>https://testdms.bscwin.com/services/platform.asmx</value>
      </setting>
    </DMS.ServiceTest.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>