<configuration>
    <configSections>
        <sectionGroup name="grapecityGroup">
            <section name="grapecitySettings" type="Grapecity.Core.Configuration.GrapecitySettings,Grapecity.Core,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
            <section name="dataSettings" type="Grapecity.DataAccess.Configuration.DataSettings,Grapecity.DataAccess,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
            <section name="loggingSettings" type="Grapecity.Logging.Configuration.LoggingSettings,Grapecity.Core,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
        </sectionGroup>
    </configSections>
    <grapecityGroup>
        <grapecitySettings applicationId="4028931b0f0fc135010f0fc1356a0001">
            <appSettings>
                <clear/>
                <add key="AdministratorEmail" value="admin@grapecity.com" />
            </appSettings>
        </grapecitySettings>
        <dataSettings defaultProvider="Daab">
            <providers>
                <clear />
                <add name="Daab" type="Grapecity.DataAccess.DaabDaoSession,Grapecity.DataAccess" connectionName="ConnectionString" />
                <add name="IBatisNet" type="Grapecity.DataAccess.IBatisNet.SqlMapDaoSession,Grapecity.DataAccess.IBatisNet" connectionName="ConnectionString" />
            </providers>
        </dataSettings>
        <loggingSettings defaultProvider="NullLogger">
            <providers>
                <clear />
                <add name="NullLogger" type="Grapecity.Logging.Providers.NullLogger,Grapecity.Core" />
            </providers>
        </loggingSettings>
    </grapecityGroup>

</configuration>